day9/part1/Day 9 Part 1.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "actions": {
            "Input": {
                "type": "Compose",
                "inputs": "97879,50255\n97879,51476\n98119,51476\n98119,52688\n97950,52688\n97950,53875\n97529,53875\n97529,55132\n97929,55132\n97929,56306\n97494,56306\n97494,57451\n96963,57451\n96963,58720\n97201,58720\n97201,59834\n96591,59834\n96591,61124\n96800,61124\n96800,62207\n96129,62207\n96129,63575\n96504,63575\n96504,64587\n95637,64587\n95637,65638\n94964,65638\n94964,66855\n94774,66855\n94774,68128\n94689,68128\n94689,69307\n94336,69307\n94336,70438\n93863,70438\n93863,71358\n92959,71358\n92959,72316\n92171,72316\n92171,73553\n91905,73553\n91905,74570\n91233,74570\n91233,75641\n90653,75641\n90653,76890\n90330,76890\n90330,77596\n89199,77596\n89199,78654\n88588,78654\n88588,79604\n87826,79604\n87826,80510\n87012,80510\n87012,81578\n86389,81578\n86389,82346\n85420,82346\n85420,83260\n84617,83260\n84617,84193\n83829,84193\n83829,85218\n83121,85218\n83121,85917\n82103,85917\n82103,86673\n81144,86673\n81144,87457\n80210,87457\n80210,88035\n79118,88035\n79118,88917\n78258,88917\n78258,89576\n77233,89576\n77233,90457\n76354,90457\n76354,90788\n75121,90788\n75121,91302\n74017,91302\n74017,92487\n73286,92487\n73286,93058\n72199,93058\n72199,93622\n71109,93622\n71109,93276\n69605,93276\n69605,94305\n68733,94305\n68733,94990\n67693,94990\n67693,94691\n66280,94691\n66280,95163\n65168,95163\n65168,96343\n64268,96343\n64268,95866\n62859,95866\n62859,96388\n61746,96388\n61746,96664\n60566,96664\n60566,97466\n59490,97466\n59490,97533\n58257,97533\n58257,97764\n57056,97764\n57056,98095\n55864,98095\n55864,97968\n54619,97968\n54619,98186\n53410,98186\n53410,97508\n52154,97508\n52154,97757\n50954,97757\n50954,97930\n49743,97930\n49743,98386\n48515,98386\n48515,98075\n47304,98075\n47304,97773\n46105,97773\n46105,97820\n44878,97820\n44878,97758\n43657,97758\n43657,97194\n42511,97194\n42511,97593\n41207,97593\n41207,96568\n40170,96568\n40170,97034\n38820,97034\n38820,96444\n37709,96444\n37709,95729\n36650,95729\n36650,95790\n35363,95790\n35363,95655\n34121,95655\n34121,95147\n33004,95147\n33004,94454\n31966,94454\n31966,93899\n30882,93899\n30882,93934\n29528,93934\n29528,92759\n28741,92759\n28741,92532\n27492,92532\n27492,92198\n26282,92198\n26282,91073\n25525,91073\n25525,90820\n24252,90820\n24252,90106\n23259,90106\n23259,88943\n22584,88943\n22584,88330\n21537,88330\n21537,88000\n20259,88000\n20259,86871\n19605,86871\n19605,86393\n18417,86393\n18417,85076\n17967,85076\n17967,84433\n16916,84433\n16916,83905\n15730,83905\n15730,82613\n15321,82613\n15321,82207\n13965,82207\n13965,80753\n13787,80753\n13787,80180\n12580,80180\n12580,79089\n12001,79089\n12001,78374\n10923,78374\n10923,77039\n10704,77039\n10704,76352\n9545,76352\n9545,74935\n9513,74935\n9513,73948\n8816,73948\n8816,73282\n7520,73282\n7520,72224\n6894,72224\n6894,70936\n6733,70936\n6733,69694\n6525,69694\n6525,68803\n5529,68803\n5529,67739\n4890,67739\n4890,66502\n4700,66502\n4700,65429\n4059,65429\n4059,64150\n4040,64150\n4040,62863\n4117,62863\n4117,61771\n3512,61771\n3512,60652\n2953,60652\n2953,59489\n2540,59489\n2540,58163\n3005,58163\n3005,57037\n2361,57037\n2361,55790\n2508,55790\n2508,54568\n2561,54568\n2561,53361\n2509,53361\n2509,52189\n1725,52189\n1725,50965\n1730,50965\n1730,50238\n94710,50238\n94710,48527\n2008,48527\n2008,47334\n2470,47334\n2470,46083\n1968,46083\n1968,44893\n2312,44893\n2312,43651\n2190,43651\n2190,42452\n2429,42452\n2429,41199\n2368,41199\n2368,40026\n2749,40026\n2749,38886\n3242,38886\n3242,37706\n3543,37706\n3543,36597\n4089,36597\n4089,35276\n3937,35276\n3937,34256\n4732,34256\n4732,33240\n5478,33240\n5478,32019\n5674,32019\n5674,30830\n5979,30830\n5979,29701\n6437,29701\n6437,28818\n7395,28818\n7395,27470\n7426,27470\n7426,26669\n8491,26669\n8491,25328\n8597,25328\n8597,24462\n9511,24462\n9511,23575\n10367,23575\n10367,22427\n10833,22427\n10833,21645\n11815,21645\n11815,20285\n12032,20285\n12032,19390\n12867,19390\n12867,18347\n13525,18347\n13525,17934\n14887,17934\n14887,17059\n15715,17059\n15715,15912\n16274,15912\n16274,14908\n16998,14908\n16998,14243\n18040,14243\n18040,13199\n18747,13199\n18747,12890\n20069,12890\n20069,11697\n20677,11697\n20677,11143\n21785,11143\n21785,10561\n22861,10561\n22861,9729\n23767,9729\n23767,9459\n25030,9459\n25030,8609\n25931,8609\n25931,7548\n26733,7548\n26733,6944\n27801,6944\n27801,7053\n29217,7053\n29217,6536\n30310,6536\n30310,5830\n31324,5830\n31324,5100\n32342,5100\n32342,5289\n33712,5289\n33712,4724\n34793,4724\n34793,4140\n35880,4140\n35880,4230\n37167,4230\n37167,3850\n38313,3850\n38313,3559\n39484,3559\n39484,2961\n40594,2961\n40594,2866\n41811,2866\n41811,2665\n43007,2665\n43007,2673\n44229,2673\n44229,2019\n45379,2019\n45379,1884\n46594,1884\n46594,2331\n47837,2331\n47837,2370\n49047,2370\n49047,1793\n50257,1793\n50257,2068\n51470,2068\n51470,2017\n52690,2017\n52690,2255\n53892,2255\n53892,1858\n55155,1858\n55155,2246\n56341,2246\n56341,2382\n57555,2382\n57555,2505\n58774,2505\n58774,2981\n59924,2981\n59924,3138\n61138,3138\n61138,3390\n62334,3390\n62334,3948\n63443,3948\n63443,3927\n64726,3927\n64726,4430\n65848,4430\n65848,4842\n66999,4842\n66999,5522\n68042,5522\n68042,6382\n68994,6382\n68994,6554\n70243,6554\n70243,7145\n71305,7145\n71305,7190\n72653,7190\n72653,7923\n73649,7923\n73649,8468\n74747,8468\n74747,9274\n75687,9274\n75687,9844\n76773,9844\n76773,10937\n77499,10937\n77499,11607\n78509,11607\n78509,11828\n79874,11828\n79874,13085\n80429,13085\n80429,13451\n81717,13451\n81717,14603\n82325,14603\n82325,15645\n83007,15645\n83007,16216\n84146,16216\n84146,17157\n84922,17157\n84922,18145\n85639,18145\n85639,18713\n86841,18713\n86841,19815\n87424,19815\n87424,20793\n88150,20793\n88150,21779\n88865,21779\n88865,23051\n89162,23051\n89162,23531\n90632,23531\n90632,24992\n90602,24992\n90602,26074\n91145,26074\n91145,26872\n92196,26872\n92196,27775\n93106,27775\n93106,28983\n93431,28983\n93431,30347\n93380,30347\n93380,31489\n93778,31489\n93778,32537\n94403,32537\n94403,33430\n95484,33430\n95484,34757\n95383,34757\n95383,35985\n95518,35985\n95518,37079\n96085,37079\n96085,38096\n97007,38096\n97007,39477\n96468,39477\n96468,40593\n97045,40593\n97045,41800\n97196,41800\n97196,42987\n97469,42987\n97469,44139\n98064,44139\n98064,45367\n98104,45367\n98104,46630\n97599,46630\n97599,47812\n98231,47812\n98231,49047\n97644,49047\n97644,50255",
                "runAfter": {
                    "Initialize_variables": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Until": {
                "type": "Until",
                "expression": "@equals(variables('Counter'), length(outputs('Split_Points')))",
                "limit": {
                    "timeout": "PT24H"
                },
                "actions": {
                    "For_each_Input": {
                        "type": "Foreach",
                        "foreach": "@outputs('Split_Points')",
                        "actions": {
                            "Is_not_current_Point": {
                                "type": "If",
                                "expression": {
                                    "and": [
                                        {
                                            "not": {
                                                "equals": [
                                                    "@outputs('Split_Points')[variables('Counter')]",
                                                    "@items('For_each_Input')"
                                                ]
                                            }
                                        }
                                    ]
                                },
                                "actions": {
                                    "Compose_Second_Point": {
                                        "type": "Compose",
                                        "inputs": {
                                            "x": "@int(first(split(items('For_each_Input'), ',')))",
                                            "y": "@int(last(split(items('For_each_Input'), ',')))"
                                        }
                                    },
                                    "Calculate_Area": {
                                        "type": "Compose",
                                        "inputs": "@mul(if(greater(outputs('Compose_First_Point')['x'], outputs('Compose_Second_Point')['x']), add(sub(outputs('Compose_First_Point')['x'], outputs('Compose_Second_Point')['x']), 1), add(sub(outputs('Compose_Second_Point')['x'], outputs('Compose_First_Point')['x']), 1)), if(greater(outputs('Compose_First_Point')['y'], outputs('Compose_Second_Point')['y']), add(sub(outputs('Compose_First_Point')['y'], outputs('Compose_Second_Point')['y']), 1), add(sub(outputs('Compose_Second_Point')['y'], outputs('Compose_First_Point')['y']), 1)))",
                                        "runAfter": {
                                            "Compose_Second_Point": [
                                                "SUCCEEDED"
                                            ]
                                        }
                                    },
                                    "Insert_Entity_(V2)": {
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "host": {
                                                "connection": {
                                                    "referenceName": "azuretables"
                                                }
                                            },
                                            "method": "post",
                                            "body": {
                                                "PartitionKey": "day9",
                                                "RowKey": "@{guid()}",
                                                "Area": "@outputs('Calculate_Area')"
                                            },
                                            "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/tables/@{encodeURIComponent('day9')}/entities"
                                        },
                                        "runAfter": {
                                            "Calculate_Area": [
                                                "SUCCEEDED"
                                            ]
                                        }
                                    }
                                },
                                "else": {
                                    "actions": {}
                                }
                            }
                        },
                        "runAfter": {
                            "Compose_First_Point": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Compose_First_Point": {
                        "type": "Compose",
                        "inputs": {
                            "x": "@int(first(split(outputs('Split_Points')[variables('Counter')], ',')))",
                            "y": "@int(last(split(outputs('Split_Points')[variables('Counter')], ',')))"
                        }
                    },
                    "Increment_Counter": {
                        "type": "IncrementVariable",
                        "inputs": {
                            "name": "Counter",
                            "value": 1
                        },
                        "runAfter": {
                            "For_each_Input": [
                                "SUCCEEDED"
                            ]
                        }
                    }
                },
                "runAfter": {
                    "Split_Points": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Initialize_variables": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "Counter",
                            "type": "integer",
                            "value": 0
                        }
                    ]
                },
                "runAfter": {}
            },
            "Split_Points": {
                "type": "Compose",
                "inputs": "@split(outputs('Input'), '\n')",
                "runAfter": {
                    "Input": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Get_entities_(V2)": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "azuretables"
                        }
                    },
                    "method": "get",
                    "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/tables/@{encodeURIComponent('day9')}/entities"
                },
                "runAfter": {
                    "Until": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Select": {
                "type": "Select",
                "inputs": {
                    "from": "@body('Get_entities_(V2)')['value']",
                    "select": {
                        "Area": "@int(item()['Area'])"
                    }
                },
                "runAfter": {
                    "Get_entities_(V2)": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Get_Biggest_Area": {
                "type": "Compose",
                "inputs": "@first(reverse(sort(body('Select'), 'Area')))",
                "runAfter": {
                    "Select": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "outputs": {},
        "triggers": {
            "Manual": {
                "type": "Request",
                "kind": "Http"
            }
        }
    },
    "kind": "stateful"
}