day4/part1/Day 4 Part 1 Trigger.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "actions": {
            "Initialize_variables": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "Input",
                            "type": "string",
                            "value": "@@..@.@.@..@@.@@@@@.@@@@@@..@@.@@.@@..@@@.@@@.@.@@@@.@@@.@@@.@..@.@@@@..@@@.@@..@@@.@@@..@@@@..@.@@.@@@.@..@.@@@.@@@..@@@.@.@@@@@.@.@.@@@@@@\n@.@@@@@@....@..@@@.@..@.@.@@.@@.@@..@@@..@.@@..@..@@@.@@@.@..@.@.@@..@@.@..@@.@@@..@.@@.@.@..@@...@@@@@@@@.@@@.@@@.@@.@@@@@@@..@..@@@.@.@@.@\n.@.@@@@.@@.@@.@.@.@@.@..@@.@@..@@@@@@@@@@@@...@@.@...@@@@.@.@@.@@@.@.@@..@@.@@.@@.@@..@...@@@@.@@@@@@@@@@@.@@@....@@@@@.@.@...@@.@@@@@@@.@@@\n@@@..@@@@.@@@@@@@@.@@@@@.@@.@....@.@..@.@@@@@@@...@@@@@@@@.@@...@.@@.@@@@@@.@....@@.@@@.@.@@..@@@.@.@@@..@.@.@@@.@.@@@@@@@@...@.@@@@@@.@..@@\n@.@@@@@.@@.@.@.@.@..@@@@.@..@...@.@@@.@.@@@@.@@.@@@@@@.@@@@@..@@..@.@.@@.@.....@@@.@@@.@..@@@.@@.@..@@@@.@.@@@@..@@@@@@.@@@.@@.@@..@@.@.@@@@\n@@.@@@@@.@@@.@@@@@.@@.@.@@@@.@@...@.@@@..@@.@@.@@@..@@@...@@.@@@@..@@@@@@@...@.@@@@@@....@..@@@@@.@...@.@.@@.@...@@@@.@.@@@.@@.@.@@@@.@.@@@@\n...@.@@.@@.@.@.@@@@...@@@@@@@@@.@.@@@.@@.@@@.@@.@@@@.@@@@@@@@@.@@..@..@.@@@@@@@@@@@@...@.@.@@@.@.@.@.@@@.@..@@@@@@@@@@@.@@.@...@@@@@@@@.@@@@\n..@@@.@.@.@@@@@...@@..@@..@@.@...@@@.@.@.@.@.@@.@.@@@.@@.@.@@@@.@.@@@@@@@.@@.@.@@@@@@.@.@@@@@@@@@@@.@.@@@@@.@@@@@@@@@.@...@@@.@@@@.@..@@@@..\n.@@@@.@@@.@.@@@.@@@..@@..@@@@@@.@..@.@@.@.@@@@@..@@@@@@@@.@.@@@.@@@@@.@.@@@@...@@.@@@.@.@@@@@@.@@.@.@@@@.@.@@@.@.@@@@@.@@@@...@@@@@@@@@@.@..\n@.@....@@.@..@@@.@.@..@@@@.@.@@.@..@@.@.......@.@@@@@@@.@@@@@@@@.@@@.@.@@.@@@@.@..@.@@@@@@.@@@@....@@.@@@@.@..@@@.@@.@.@@@@@@@@.@@@@.@.@@..@\n@@@@@.@@.@.@.@@.@..@@@.@.@@@@.@@@.@.@.@@@.@.@@@.@@@@@..@@@@@@..@@@@@@@@@@@@@@.@@@@.@@@@...@.@@@@..@@@@@@@.@@@@.@@.@@@@@@.@@@.@.....@@@@@@.@.\n@.@@...@@@.@@..@@@@..@@.@@.@...@@@@@...@@@@.@@@.@@.@..@@@@..@.@@@@..@@@.@..@@@@..@.@@.@.@.@@....@.@@..@@.@@..@@@@...@@.@..@@@@@@@...@@@..@.@\n...@.@...@@@..@..@.@@@@.@.@....@@@@@@.@..@@@@@.@@@@@@@@@@.@@@@@@@@.@@..@@@@@@@@@@@@@@.@.@...@@....@@.@@.@@@.@@@@@@.@.@..@@@@@@.@.@.@@..@@@@.\n@@@@.@@@@.@.@@.@.@..@@@..@@@.@@@@@..@@@@@@.@...@.@@@.@.@..@@@@@@.@@.@@@.@@..@@@@@@@..@@@@@@@@..@@..@@@@@..@.@.@@@.@@..@.@.@@@@@@@.@.@@@.@@@.\n@@@@@@@@.@@@@@@@.@@@.@.@.@@.@..@@@@@@@.@@..@@..@.@..@.@@@@@@..@.@.@@.@.@@@.@.@@@@..@@@@@@@@....@.@.@@@@@@@@@.@@@..@@@@@@..@@@@...@@@...@.@.@\n..@@@..@.@@.@.@@...@@@..@.@@@...@..@@.@@@@@..@@@@.@@@@.@@@.@@.@@.@@@@@@@..@.@..@.@.@@@..@@@@@...@@..@....@......@.@.@.@.@@@.@.@@@@@@@.@@.@@.\n.@@.@@@@@.@..@@@@@@.@....@@@.......@..@@@.@@@...@..@@..@@@@..@.@@@@.@@.@@..@@.@.@@@@.@@.@@.@@@@@...@@@@.@@@..@.@.@@@.@.@@.@@@..@@@..@@@@@..@\n@.@.@..@.@.@.@@.@@@@@@@@@@@@.@@@@.@@..@.@.@@@..@@@@.@@@@@...@.@@.@@@@@@@...@@..@@@@..@@....@.@@@.@.@@@@@.@@@@@@@..@@@@@@@@@.@@@@..@@@.@....@\n@@..@@.@@.@.@..@@...@.@.@.@@....@@@@@@.@.@@@@@@.@..@@@@@@.@@@@..@.@.@.@.@.@@.@@...@@@.@.@@.@@.@@@@@@@.@..@@.@.@.@@..@.@@@@@@@@.@@@@..@@...@.\n.@@..@@@@@@@.@.@@@@.@@@@@@@@.@.@@@@@@@@@.@@@@@.@@@@..@@@@..@.@@@@.@.....@.@@.@@.@@@@@..@@@@@.@@@@@.@@@.@@.@@@..@@@..@@@@.@@.@@@@@@@@@@@@.@@@\n.@..@@@@@@@@@@@.@@.@@.@..@..@@@...@@..@@@.@@.@.@@.@.@..@@.@@.@@@@@.@@@.@.@@@@.@@@@@.@...@@.@@.@.@@..@@@.@@@@@.@@@@@.@....@@@@@@@@.@@.@@@@@@@\n@..@@..@@@@.@@.@.@.@.@.@@@@..@@.@..@.@@@@@@@.@@..@@@@@.@@@.@@@.@.@@.@@.@@@.@@@@@@@@@@@@@.@@@@@@.@@@@@@@...@@@@@@@.@@@@.@.@.@@@.@@@.@..@@@..@\n@@@@@@@@.@.@@..@.....@.@@@...@.@@..@@@..@..@..@@@.@@@@@@@@.....@..@@.@.@.@.@@@@.@@.@@.@@@@@@.@.@.@@.@@@@@.@.@@@...@@.@@@@@@@...@.@@.@@@..@.@\n.@@@@@@..@.@@...@@@@@@@@@@@.@@@@@..@...@.@.....@@@.@.@@@.@@...@.@.@.@@@@@@.@@@@@@.@@@@@...@@@@.@..@@.@@@.@@.@.@@@..@@@@@@@@.@@@.@@..@.@.@.@@\n@.@@.@@@.@.@.@.@@@@@@@@.@@@@..@.@@@@@.@@.@@....@..@@.@..@@@....@@..@@.@@@@@@@@@....@@.@@@.@@..@...@@@@@@@.@@@@@.@@@.@@@@@@@@@@...@@.@.@@@@@@\n@@@@@@@@@...@.@.@@@.@@.@@.@.@..@..@..@..@.@.@@@.@@@@@@@@@...@@@@@@@@@@.@@@.@@.@@...@@@@@@@.@.@@.@@@@@.@.@@..@..@....@.@@@.@...@..@..@@.@@@@@\n@@@@@@@@...@@@.@@@....@@@.@..@@@@.@@@@@..@@@...@@.@.@@@.@@.@.@@.@.@@@@.@@.@@@@@@@@@@@@..@@....@@.@@@@@.@@@@@....@@@....@@@@@.@.@@.@@..@@@@@@\n.@@@@.@@@@....@..@.@@@@@.@@@@@@..@..@@.@@@@.@@@..@@@...@.@@@.@.@@@@@@@..@..@...@@@.@@@.@@@..@@@@@...@...@..@@@@@.@@..@@...@@@.@@@@@.@@@...@@\n@..@@@...@@@.@.@@@@.@@@@@@.@@@@.@@.@@@@@@@..@@@..@@@@.@@@@..@@@..@.@@@...@@.@@@@..@@@@@@@@.@@@.@@...@@...@.@..@.@.@@.@.@@@@.@@.@..@@..@..@@.\n@@@@@@@..@@..@@.....@@..@@@..@@@@@..@@@@@.@@@@@.@..@@@@..@.@@@@...@..@@@.@.@@@..@@@..@@@@@..@@@@.@.@.@@.@@@@@@...@@@@@@@@@@..@@.@.@@.....@@@\n.@@@@......@@@.@@..@@@.@..@.@@@@@@.@.@..@@.@@@.@@@@....@@@@.@@.@@@@@@@.@.@@@..@@@.@@@@@@..@@@.@@@@.@@@@@.@@@@@@@.@@.@@@@@@.@@@@@@@@@.@..@@@@\n....@@@@@.@.@@@@@@@@@.......@.@@@@@@..@@.@@@@.@@@..@@@.@..@@@.@.@@.@@@.@@..@@@.@@@@@@@.@.@@@@@@...@@.@..@.@@.@.@@.@@@@@.@@@@@.@..@...@@@.@@@\n@@@@@@@@@@@@.@@.@@@.@@.@@.@@@..@@@@@.@@@.@..@.@.@@.@@.@@@@@..@@.@@..@....@..@...@@@@@..@..@.@.@@..@...@@@@..@.@@@@@@@@.@@@@@@@@@.@..@.@@@@@.\n@.@..@@@@..@@.@@.@.@@@@@..@@@@@@@....@@.@@..@@.@@@@...@@@@.@@@@@@@@@@.@.@@.@..@.@@@@@@@@.@@@..@@..@..@@@..@@@@....@@@@@@.@@..@@@@@@@@@@@@@@.\n.@@.@.@.@@@@@@.@@@.@@@@.@..@.@@.@@@@..@@@@@@.@@@.....@.@.@....@.@@@@@.@@@@.@@@@@@@@@@.@@@.@@@@@@@..@@..@@.@...@.@@@.@.@.@@.@.@@@@@@..@@@@.@@\n@.@@.@@@@@@@@@.@.@@.@@@@@@@.@@....@@.@@.@@@@@.@@@@.@...@@.@@@@.@@@@@.@..@@@@@@@.@@..@@@@@..@@.@...@@.@@.@@@@.@@@@..@..@@@@@.@@@.@@.@@@@@...@\n@.@@@.@.@..@.@@.@.....@.@.@@@@@@@@@.@@@@@@@@@@.@..@.@@.@@...@@@.@.@@.@.@.@@.@@@..@@@@@@.@@@@@@@@@.@....@.@@@@@@.@@@@@.@@.@.@@@@@@@.@@@@@@@.@\n@.@...@@@...@@.@@..@@..@.@.@@..@.@.@..@..@@@@@@@..@@@@@@@@@@.@@.@@@.@@@@..@..@.@@..@@@.@.@.@@@.@.@.@@@@@@....@.@@@@@@@@@.@@@@@@..@@@.@@@.@@@\n.@@@@.@@@.@.@.@@..@@@.@@@@..@@@.@@.@@@..@@@.@@..@.@@@@@@..@@@@@.@@@.@@..@.@.@@@@...@@.@...@.@@@.@@@@.@@@.@..@@@@..@@@..@@.@@.@.@@.@.@.@@.@@@\n..@@@@..@@@..@.@@@@@.@..@.@@.@...@@@@@@@@..@.@@@@@@...@@@@.@.@@@....@...@@.@..@@@@@.@.@.@.@@.@@@@@.@@@@@..@@@@@@@..@@.@@.@@..@...@@@@@@@.@.@\n.@@@@.@@@@.@@@@@..@..@@..@.@.@@....@@@@.@...@@@@@@@@..@.@..@.@@@@@@@@@@@.@.@@..@.@@.@.@@@@@@.@@@.@@@.@@@..@@..@@..@.@@...@@.@..@..@.@@@.@.@@\n.@@@@@@@@@@@@.@@@.@@...@..@..@..@.@.@@@.@..@.@@...@@.@@..@@@@@@..@@@@@@@.@.@@@@@.@@.@...@@.@@.@@@@@@.@@@.@.@@@@..@...@@@@...@@.@@@@@@@@.@@.@\n.@@@@.@..@..@.@@@@@.@.@@@@.@.@.@.@..@.@@@@..@@@..@@..@..@@@@@.@.@@@@...@..@....@..@@.@...@@.@.@@@.@@@@.@@@.@@@@@....@@@@.@@@.@..@@@@@@@..@.@\n@@@@@@@@.@@@...@@..@.@.@.@@.@@.@@..@@@..@@.@@@@@@.@@.@@...@.@@@@..@@@@@..@@..@.@@@@@@@@@..@@...@@.@@@.@@@@@@@.@@..@@.@@@@.@...@.@.@..@@.@.@@\n@.@@@.@.@@@@@@@@@@@..@@...@.@@@..@@@@@..@.@@@..@.@@@@.@@@@@@@@@.@.@@@.@@@@@@@..@.@@...@@@..@@.@.@@.....@@@.@@.@..@@.@..@@@.@.@.@.@@@.@@.@@@@\n@.@.@....@@@.@@..@@@.@@@@@@@.@.@@.@.@@@@@@@.@@.@@@@@.@.@@....@.@@@..@@@@@.@@@@.@.@@@.....@@@@@@@@@@..@..@@@@@@..@.@@@@@@@.@.@@.@@@.@@@@.@.@@\n.@@@@.@@@.@..@@@.@@@.@..@@.@@.@.@@.@@@.@.@@@@@.@@.@..@.@.@@@@.@@@.@@.@@@..@.@.@@@..@@@@@@@@@@@.@@@@@@@@@.@@@@@@..@@@...@@@.@@.@.@@@@@@.@@@@@\n@@.@.@@@@@@@@@..@@...@@@@..@@@.@@.@.@.@@....@@..@@.@@..@@@.@@.@..@@.@@@@.@@@@@@@@.@@@@@@@@@..@.....@@@@....@@@@@...@...@..@@@@@.@@.@....@.@@\n.@@.@@...@@@@@@.@@.@@@@.@.@@@@.@@.@..@@@@.@...@@@@.@.@....@.@@@@@@@@@.@@..@@.@.@@@@@@.@.@@.@.@@@@@@....@.@@@@@.@.@.@.@@@@..@@@@.@.@..@..@@@@\n.@@@@@.@@@.@.@@...@@..@@@..@@...@@@@..@...@.@...@@.@.@@@@...@@@..@@@@@@@@@.@@.@..@.@.@@.@@@.@@@..@@@@...@@@@@@@..@.@@@@@@.@@.@.@@@@.@...@@.@\n@@..@.@.@@.@.@@.@.@@@..@@...@@@@@@@@@@.@.@@@@@@.@.@.@@..@@@..@...@@@@..@......@.@.@..@.@.@.@.@@@@.....@.@.@.@@.@@.@.@@@@@@.@@@@@..@.@.@..@@@\n.@@@@@@@@@@.@@@@..@.@.@.@@@@@@@@.@@@.@@.@@..@@..@@@.@@..@.@.@.@@@..@.@.@@@.@..@@@.@@.@.@..@@@...@.@@@@...@@@.@.@@.....@@...@.@@.@@@@@.@@@@@.\n.@@@..@@@@@@@.@@@.@@@@..@@@..@..@@@..@@@..@@.@@.@@@@@@@.@.@@@.@.....@@@@@.@@.@@..@@@@.@@....@@@..@@@@.@@@@@@.@@.@..@@@.@..@@..@..@@.@@@.@@..\n@@@@@@..@.@@@@@.@@@@.@..@.@@@@@..@@@@..@..@@@@@.@@@@@@@.@..@@..@@@@@@@@..@@@@.@.@@.@@...@.......@@.@..@@@@.@..@@@@...@.@@@.@......@@...@@@..\n@.@.@.@....@.@.@@.@@@@@@@.@..@.@..@@.@.@.@@@@@@..@...@...@.@.@.@.@@@@@@@@@..@@@.@@@@@@@@@.@..@@@@@@.@@.@@@@@@.@@.@@...@@@@@@.@@@.@@.@..@..@@\n.@@@.@@@@@@@@.@@@.@..@@.@..@..@@.@@@..@@@@@@.@@@@..@@....@@@@.@.@@.@@.@@@..@@@@@@@....@..@@.@@@@@..@..@...@@.@@@@@.@@.@@@@.@@@@@@.@..@.@@@.@\n@..@...@@@@..@@..@@..@@@.@.@@@@.@..@@@.@.@.@@@@@.@@...@..@@...@....@.@.@@@@@.@@@.@@..@@.@@@.@.@@..@@@@..@@@@@@@@@.@@@@@.@@.@@.@.@@.@.@.@@@.@\n@.@.@@@.@..@.@.@.@.@@@@@@@.@.@@.@..@@@.@@@@@@@...@@@.@@@.@@@@.@@@....@@@@@@@.@@.@.@@...@..@@.@..@.@@.@.@@@@..@@@.@@@@@@..@@@..@.@@@@@@@@@@.@\n.@@.@@@@..@..@@.@.@.@@.@@@@..@@.@....@@@@.@@@.@@@.@@@@@@@@.@@.@@@.@@@@.@@@@@@@@@.@@@@..@@.@..@@@.@.@@@@@@@@@@@.@@.@.@.@...@@@@@.@@.@...@@@@@\n.@..@@...@@.@@@@@@@@@@.@@@.@@.@@@@@@@.@@.@@@@.@@..@@.@.@@.@@@.@@@@.@.@@@@..@...@.@...@@@.@@@@@..@@@@@@@..@.@@@.@.@.@.@.@@.@@@@..@.@..@.@.@@.\n.@..@...@.@@.@..@@@@@@..@.@@@@@@...@@..@@.@@@@.@....@.@@@..@@@@..@@.@.@..@.@@.@.@.@@@.@..@.@@@@@@.@@@.@@.@.@..@@.@@.@.@@@.@.@.@.@@@.@@@.@@..\n.@@@.@.@..@..@@@..@@@.@@.@.@@@.@@@.@@@.@@@..@@@@@@..@@@@@@@.@@@@.@.@...@@@@@@@.@@@@...@..@@@@.@.@@@......@@@.......@@.@..@@@@@..@.@.@@@...@@\n.@@@@@@.@@@.@@@@@@@.@@.@@.@@@@@..@.@.@.@..@@.@.@.@@@.@.@@@.@@@.@@.@@..@@@..@@@@...@@..@.@.@@@..@@..@.@@@.@..@.@@@@@@@@@...@@@@.@@@@@@@.@.@.@\n@.@.@@.@@@....@@@@@@@.@@@...@@@..@.@@@@@@@@@@@@.@.@@@@@.@@@.@@.....@.@@@....@.@@....@@@@@@@.@@@@@.@@@.@.@.@@.@@@@@@@@..@.@.....@@@@@..@@@@.@\n@....@...@.@.@..@@@@@......@.@...@.@.@..@@.@@@@@@..@@@@.@.@.@.@.@.@...@@@@.@@@.@...@...@@@...@@@@@@@@@@@..@@@..@.@@@@@@.@@@@@....@@@.@@.@..@\n@@@@.@..@@@.@@@..@@.@@@@@@.@.@.@.@@@@@@@.@.@@.@@@.@@...@@.@.@.@@..@@@.@@@@@.@@.@.@@@@@.@@@@@@.@@.@@@@@.@.@@.@@....@@....@....@@@@.@@.@@@..@@\n@.@@@@@@@@@..@@@@@..@.@@.@..@@@.@@@@@@@@..@@@@@..@@@.@.....@@@..@.@@@@@@..@@..@@@.@.@..@.@@.@@@@@@.@.@@.@@@.@@.@@.@..@.@.@@@@..@.@@@@..@.@.@\n@@@@@.@.@.@@...@@...@@@@@@@@.@..@..@@@@..@@@..@.@@.@.@@@.@.@@@...@.@@@..@@@@@@@@@....@@@@@.@@@.@@..@@...@@@.@.....@@..@@@@@@@@@..@@@@@.@@@@@\n@@@..@@@.@@@@@@@@@@@@..@..@.@@.@@@@@@@@@@@@@.@@@@@@.@..@.@@@@@@@.@@@@@.@@@@@@@...@@@@@...@@.@.@@@@..@@@@@@.@@@@@..@@@@@@.@...@..@@@.@@.@.@@.\n.@@..@@@@@.@@.@@@@@@.@@@.@@.@.@@@@.@@..@@@....@@@@@@@.@@....@@@@@@.@@.@@...@..@@@@@@..@.@.@@@@@@@@@@.@@@@.@@@@.@.@@@@...@.@.@@.@.@@.@.@@@@..\n@.@@.@@.@@@@@@@@@.@@@@@@@.@@@..@..@.@...@..@..@.@....@@.@@.@@@@.@.@@.@@.@@.@.@@@@@@@@@@@.@.@@@..@@@..@@@.@@@@@@@@.@.@@@@@@@.@@.@..@@@@@@@@@@\n..@@..@.@@@@@.@@@.@@@.@.@@@@.@.@@@@@@@@@@@@@.@@@@...@@@@@@@@@@.@.@@.@...@@@@@..@@.@@@@..@@@...@..@@@.@@@.@@@..@@@@.@.@@.@@@.@.@.@.@@@.@@.@..\n@@..@@@@@...@@@.@@@@.@...@@@@@@@.@@@.@...@@@@@@@..@..@@@@@.@.@@.@.@@.@.@.@@@@@@...@.@....@@@..@.@@@@@@@@@@@@.@..@@@@@@@@@.@@.@@@@@..@@@@.@@.\n@.@@.@@..@...@@@@@@..@.@@...@@.@@@@@@.@.@...@@.@@@.@.@@@@@.@@@@@.@.@@@.@.@@@@@@@@@.@@@.@.@@@@@@@@@@@@.@.@@@.@@.....@.@@@@@@@@@@@@@@@..@...@@\n@.@.@.@.@.@@...@@@@@@.....@.@.@..@..@@@@@@@..@@@@@@....@@.@..@@..@.@@..@@@.@@.@@.@@@@@.@....@@@@....@.@@@...@..@...@@.@@@@@@@@@@.@@...@@@@.@\n@@@.@@@...@@@.@@@@@@@@.@.@@...@@@@..@..@@@@@..@@@@@@@@@....@@@@@.@@@....@.@.@.@.@@.@@@@..@@@.@@..@.@.@@@@@@@@@@@@@@@@.@.@.@@@@@....@..@@.@@@\n...@@@.@@.@@.@@.@@...@.@.@...@@.@@.@@.@..@@@@.@@.@@@@.@@.@@..@@@@...@@@@@.@..@.@@@@@@..@@..@@@.@.@.@@..@@@@@@..@@..@.@@@@@@@@.@...@@.@@.@@.@\n@@@@..@@.@@..@.@@@@@.@.@@@@.@@..@..@@.@.@@@@..@@@@@@@@@@@@@.@.@@@@.@.@@@@@@.@...@@@@.@.@@...@.@@@@.@@@..@@@..@.@@@@@..@.@@.@@.@@@@@@@@.@@@@.\n@@@..@@..@@@@@.@@.@..@@@.@..@.@@.@@..@.@.@@.@....@@@...@@@.@@@..@.@.@.@@@.@.@.@....@@....@@@@@.@@@@@@@.....@@..@.@@@.@@@@....@@..@@@.@@.@.@.\n@@.@..@@@@@@@.@.@@.@@@.@@@.@@.@@@@@@@@@@.@@@..@.@@@@..@@.@@.@.@.@@@.@.@@@@@@......@@@..@@@.@.@@.@@@@..@@.@@.@.@@..@.....@@@@@.@.@@.@.@.@.@.@\n@@@.@@@@..@.@@.@@@.@.@@@.@....@.@.@@..@..@@.@@@@@@.@@.@@@@.@@@@@@@@@@@@@..@.@.@@..@..@@.@@@@.@@.@@.@@..@@@@@@.@@@@@.@@.@@@.@@.@...@@.@@.@.@@\n@.@@@@@@@..@.@@@.@.@@@.@.@@@@@..@@@@@...@@@@.@@..@@.@.@...@@@@@@@@@@@.@@@@@@...@@@@@.@@@@@..@@@.@@.@..@.@@@@.@@.@@@.@@@.@@@.@.@@@@@@@@@..@@.\n@.@@.@..@@.@@@@@.@@.@@@.@..@..@@@.@.@.@@@@@.@@..@.@@....@@@@@.@..@@.@@.@@.@@.@@.@.@@.@@@.@@@.@@.@.@@@.@@@@@@@..@@@.@.@@.@.@@.@@@.@@...@.@@@@\n@@......@@@@@.@.@.@.@@@@..@@.@@@@@@@@@.@@@@.@@@.@@@.....@@@@@@@@..@@@@.@@...@@@@@@@@..@.....@.@@@..@.@@@@@@@@@.....@@@@@@@@.....@@.@@..@@.@.\n@@@...@@.@.@.@@.@@.@..@.@@.@@@@@..@..@.@@@@@@@.@@.@@@..@..@.@@@@.@@.@@@@@@@@@@@.@..@@@@.@..@@@@@.@.@@@@@@@@@..@@.@@@@...@@@@@@@.@@..@@.@@@@@\n.@.@@@.@@@@.@@.@@@@@...@@..@@@@@@@@@.@.@@..@.@@.@@@.@@@@@@.@@@@...@@.@@@..@...@@.@@@@.@....@@@.@....@....@@@@@@.@@@..@@.@@..@@...@@@..@.@@@.\n.@....@.@@@@@@@@@@...@@@@.@.@.@.@@@.@@@@@@@@@.@@.@@@..@.@.@@@@.@...@@@@..@.@@@@..@@.@@@@.@@@@@@.@@.@.@@.@..@@@@@@@@@@@@@@@@.@@@@@@.@.@.@.@..\n..@@@.@..@@..@@@@@@@..@@@.@@@@..@@..@@@@.@@@@..@@@.@@@.@@@@..@@..@.@.@.@@@@@@@...@@.@@@@@@.@@.@@@.@@@.@@@@@@@@.@.@@@@@@@@@.@.@....@@.@@@@@@.\n@.@@@.@@@@@.@@@@@.@@@...@.@@.@@@@@@.@..@.@@@@@@.@@.@@@@@@.@@@@@.@@@@@@...@@..@@@@@..@.@@@.@.@@.@.@.@@.@@@@.@.@..@@@.@.@@@...@@@..@@.@@@@@..@\n@@@.@@@.@@..@..@@@....@.@@@..@....@.@.@@@.@....@@@..@@.@@@@.@.@@...@..@.@@@.@@@@@@@@@..@.@@...@@@.@@@@@...@@....@@@@@@.@....@@@.@@.@@..@@@@@\n@.@..@...@@..@.@@@..@@@@@@.@..@@@..@@@@@.@@@@@@@.@..@@@@...@@.@@@@.@@@@@.@.....@@@@@.@@@@@.....@@.@..@@.@@@@@.@@.@@@@@.@@.@@.@@.@.@@..@.@.@.\n@..@@@@@@.@@...@.@..@@@@.@@@.@@@@@@@@.@..@@@@...@@@@@@@.@.@@.@@@@..@....@.@....@...@@.@@.@.@.@.@.@@.@@.@@.@@@..@@@@.@@@@.@@@.@.@@...@..@@...\n@@@@@@.@@@@@.....@@@@@@@@@@@..@.@@@@@@@@..@...@.@@.@@@@.@@@.@@@.@.....@.@@@.@@..@@@@...@@..@.@@@@.@@.@@@@..@@.@..@@@@@@@.....@@.@...@@..@.@.\n@@@.@@@@..@@.@.@@@@..@.@@.@@..@@@..@@.@@.@@...@@@@@..@..@@@@.@@.@@@@@.@@@..@@.@@@@..@.@.@...@@.@@@@@@..@@@@@@@..@@@@@@@.@.@.@.@.@...@@@.@@.@\n@@@@.@..@@.@.@.@@@.@..@@.@@@@@@@..@@@@@@@@@@@.@@@@@@.@@.@.@@.@@..@@@.@@@@@.@@.@..@@@.@@@@.@@@....@@@@@@@.@....@.@@@@@@@.@@@@.@@@...@.@@.@@@@\n@@.@.@@...@@@.@@..@@.@@@@.@@.@@.@..@.@..@@@@@@..@...@@..@@@.@.@@@@.@@.@@@.@.@@.@.@@@@@...@.@.@@@..@@@@.@@@@@.@...@@@.@@@@.@@.@...@.@@@.@@@.@\n@.@.@..@@@@..@@.@.@..@@@@@.@@@.@....@@.@..@@.@.@..@@..@....@@@.@@@..@@.@@@@@@.@.@.@@@@@.@@..@.@@.@@@..@@@.@@.@@@@..@@@@@@@@@.@@@@@@.@@@@.@.@\n.@.@@.@@@.@..@@..@@..@@@.@.@@.@@.@@.@....@@.@@.@.@@@@@.@@@.@.@....@.@@@.@@@@@@@@@@.@@@..@@@@....@@.@@...@.@@...@.@@....@...@.@@.@.@@..@.@@@@\n.@@@@@@.@@@@@@@..@@@@@@@@@@..@..@@@@@@@@@@....@.@@@@@@.@@@@@@@@@.@@..@.@...@......@.@@@@@.@.@.@@.@@....@@..@@@..@@.@@.@..@@@.@@...@@@@@@@@@.\n@@@.@@@@@@.@...@.@@...@..@@@@.@@@@@..@.@@.@@@@@@@....@@@.@.@@.@..@.@.@@.@.@@..@.@@@@.@....@...@@@.@@@@.@@@@@@@@.@...@@@@@@@@@@.@@@..@.@..@@@\n@@@@.@@..@..@@@@.@.@@@..@@.@@@.@@.@@.@@@..@@@@.@@@@@@.@@..@.@@@.@.@@...@..@@@...@.@@.@@.@.@@@@.@.@...@@@.@@@.@@.@.@@.@@.@@@@@@.@@@@.@@..@@@@\n.@.@.@@@@@@@@@.@...@..@@.@@@@@@@@@.@@@@.@@..@@.@@.@@@@.@@@@@@@..@@..@...@@.@@@@@@@@@.@@@@@@@@@@@@....@.@@@.@.@@@..@@..@@.@@.@@.@..@@.@.@@@@@\n.@@.@@@....@@...@@.@@@.@@...@@..@@.@@..@@@@...@@@@@..@@.@..@.@@@.@.@..@..@@@@.@@..@@......@.@@@@@@.@....@.@.....@@@.@@.@@@@..@@.@@@@..@@..@@\n..@.@@@@@.@@.@..@..@@.@@@@.@@@...@..@@@.@..@@@.@@@.@@...@@@@@@.@@.@.@@@@..@@@@@.@@@.@.@@@@@...@...@@@@.@@@@@.@@@@@@.@@@.@@@@@@..@....@.@....\n......@.@@@@@@@..@@@..@@@@@.@@@.@@@.@@.@.@.@@..@@@@.@.@@...@.@@@@.@@.@.@.@@@@@.@@@@@@@...@@.@@@@@..@@@.@@@.@.@@@@...@@@@@@.@@@.@@@@.@..@@@.@\n@.@@@@.@@.@@.@.@@.@@@@@@@@@@@@@@@@@@@@@@.@@@@.@.@.@@@@.@..@@@..@.@..@@@@@..@@@@@.@..@@.@@@@@@.@@@@@@.@@.@@@@@.@@@.@@@@.@.@@@@@@..@@.@@..@@@@\n.@@@@.@@@@@@@@.@@@@@.@..@.@..@..@@.@@@@@...@@@.@@@@@@.@@@@@@@@.@.@@@@..@@..@@@.@@@@@@.@.@@@@@@@.@@@.@..@.@@.@.@..@@@.@@@@@.@@@@@...@@@.@@.@.\n@...@@@@..@@.@@@.@@@.@@@@@.@@@....@@@@@@@@@@.@@..@.@.@.@.@@..@.@@@@@.@@.@.@@@@@.@@@.......@..@@......@@..@@.@@@.@@@@@@.@.@@@@@.@@@@.@@@@..@.\n.@@....@..@.@.@@@@@@@@@@@@..@@@@.@@@@@@@@@..@@.@.@@@@.@@.@@@@@@@.@@@..@.@.@@@@.@.@@@@@@@@.@@@@..@@@..@@@.@@@.@@@@......@@.@@..@@.@@@@.@...@.\n@@@@@@@@@@@@@@@@@@.@@.@...@@.@..@@.....@@@@@@..@@.@.@@..@..@@@...@@....@@@@@.@@@@.@@.@@@@.@..@@.@@.@@@.@@@......@...@...@@@@@@@@@@@.@@@@@.@@\n@@...@@@.@@.@.@.....@.@@@@@@@.@.@.@@@..@@@@@..@@.@@@@@@@@@@@@@@@.@@..@@@@...@@@.@@.@@.@@@@@.@..@@@.@@@@@..@@....@.....@@@..@@@@@@@@....@@@.@\n@@@@.@.@@@@@@@@..@..@.@@@@.@.@@..@@@@@@@.@@@@.@..@@@@@.@.@.@@@@@@..@.@.@...@@@@@@@@....@.......@...@@@@@@@.@.@..@@@@@..@@@@@@.@@@@@@.@@.@@@@\n@.@@@@@.@@@@..@..@.@@..@@..@@@..@@.@@...@@@.@.@@.@@@@@@@@@@..@@.@@@@@@.@@@..@@.@@@@@@@.@.@@..@.@..@@.@@@@.@@.@@@..@@.@@@.@..@@@@.@@@@.@.@@@@\n.@@@@@@@....@...@.@.@@...@@@@....@..@.@@@@.@.@@@@@.@@.@.@@@....@@.@@.@.@...@@.@...@.@....@@@.@@.@@@@.@@@.@.@.@.@@.@@.@@@@.@@@@@@.@@@@.@@@@@.\n@@@.@@@@.....@.@.@@@.@@....@@..@@.@@@@.@@.@@.@.@@.@@@@@@@@@@@@@@@..@..@@@@@@..@@@.@@.@..@...@@@.@@@@.@@@.@...@@@@@@@.@@@.@@.@@.@.@@@@@@@@.@@\n..@@@.@.@@.@@.@@.@@.@@...@@.@@..@.@.@.@..@@@@.@@..@@@@@@@@.@@@@@@@@.@.@.@@.@.@@..@@.@@@@@.@@@...@@@.@.@..@..@@@@@.@@..@@@@@@...@.@...@@@@@@.\n@@.@.@@..@@@@@@@.@.@@@@.@.@.@.@@@.@.@@@..@.@.@.@@.@@@@@@@@..@.@@.@....@.@@@@@@@@@@..@..@@@@@@@..@.@@@.@@@@@@@.@@..@.@@@@@@...@@@...@@@@@...@\n@@@@@...@@@@..@@@@@@@@@@.@@@.@@@@@@.@.@@.@@...@..@.@@@...@@@..@@.@.@@@@@@@@@@...@@.@@.@@@.@@@.....@@@@@.@@@@@@@@.@@@...@@.@@..@.@@@@@@@.@@@@\n...@@@@@.@.@.@.@..@@@@.@@@@@@@@@@...@.@.@@@...@@@..@@@@@.@@@@@@@@@@@@@.@@@@@@.@...@@@@.@@@@@.@.@@.@...@@.@@.@@@@@@@@@@@@@.@@..@.@@@@.@@@.@@@\n@@.@@..@@@@.@@..@@@.@@.@.@@@@.@@@.@@@..@@....@@@@..@@@...@@@.@@@.@.@@@.@@..@@@@@..@..@@..@@..@.@..@..@.@@@@.@.@.@@@@@@@.@@.@@@@@@..@@..@.@..\n@@@.@@.@@@.@@@.@..@.@@...@@.@@@.@..@.@@.@....@@@.@.@@@.@.@@.@@.@@.@@.@.@.@@.@..@.@.@@.@@.@@.@.@@@@@...@@@@..@@.@@..@.@@@@@@..@@@@.@@@@..@@..\n@@.@.@@@@@@@@@@..@@..@..@@@@@..@@@.@.@@@.@@@@.@@....@@.@.@@..@@.@@@@.@@.@@@@.@@.@@.@@@@.@...@@.@..@@@..@.@.@@.@@@@.@.@@@@.@.@@.@.@..@.@@.@.@\n@@@@@..@@.@...@@@@@.@@@.@@@@@@@.@@@.@@@@@@@@@@@.@@.....@..@..@.@@@@@@@@@.@@@.@@.@@..@.@........@..@.@@@@@@@@.@@.@.@.@@.@@@@.@....@@.@.@@@@.@\n@@@.@..@.@@.@@@@@..@@@@.@@..@@@@@@@@@@@.@@@@@@@..@@.@@.@@@@@@@@.@@@@@...@.@..@.@..@..@@@.@@.@@@.@@.@@.@....@@@@@@@@@.@@..@.@@@@...@.@@.@@@@.\n.@.@@...@@.@@.@.@@@@.@@..@@..@..@@.@@@.@@@@.@.@@.@.@@@@@@@..@@@.@@@@@@@@.@@.@@@..@..@@@@@.@@@.@.@@@@.@...@@@@@@@@@@.@@.@@.@@@.@@@@.@.@@..@..\n@..@.@..@@...@.@@@@..@@.@@@.@@@@@.@.@@@@..@@@@@.@@@@.@.@@.@@.@@@@.@@@..@@@@@..@..@@@@@@@.@...@@@@..@@@@@@@.@.@...@.....@@@@@..@.@.@@.@@@@@..\n.@.@@@@...@@@.@@@@@.@@@@@@.@@@@@@..@@..@@@@.@@@@@@@@@@@@@.@@@@@@..@@@@@.@@@@@@@@@.@...@@@@@@@.@.@@.@.@@@..@@@@@@@..@..@@@@@@@@..@@@...@@@.@.\n.@@@@..@@@@@@@@@@@@@@...@.......@.@.@@@@@@.@.@@@@@@@@@@@...@.@@@@@@.@.@@@@@.@.@@@@@.@.@@..@..@.@@@.@@..@@@@..@@@@@@.@@@@.@@@@..@@@.@..@..@@@\n...@@@.@..@@@@@.@@@@@@@.@.@.@....@@@@.@@@.@@@.@@@@@.@.@@@.@@@@@@@@.@@@@..@@.@@...@@@@@@@@@@@@@@@@.@@@@.@@@..@@@@.@@.@..@@...@@@.@@@@.@..@..@\n@..@.@@@@@@@..@@@@..@@@@..@.@@@@@@@@@@@.@@@@@@@@@@@@....@@.@@@@@@@@@@@@@@@@@.@@.@.@.@@.@.@.@@@@@@@@@@@@@@@...@@@@@.@@...@@@...@@..@@@@..@.@@\n@.@....@@@@@@@@@@@.@@@.@@.@@@@.@..@@@@@@.@@..@@@@@@...@.....@.@@...@@..@@...@@@@@@@@@@.@@@@@..@...@.@@.@@@.@@@@...@@@@@..@@@@..@@@@@.@@@@...\n@@..@@@@@@@@@@.@.@@@....@@@@@@.@@.@@@@@..@@@.@@..@.@.@@@@@@.@@@@@@.@@...@@@@@@@@@.@@@@@..@@@.@@@.@.@@@@@@@@@@.@..@.@@@@.@@@..@@@@.@@@..@..@@\n@@@....@..@@@@@@@@@@.@...@@.@@@@@@@@@@@@@..@@..@@..@@@..@.@@.@@@@.@@.@@@@.@@.@.@@@.@..@@@@@@@@.@.@@@.@@@@@@@@.@@.@@@.@@@.@.@.@@@@..@@@.@@.@.\n@@@@.@@@..@@@@@@@...@@@@@.@@@.@@@@@@@@@.@@.@.@@@.@@@.@.@.@@@@.@@@@@@.@@.@@....@@@@@@@@@.@@@.@@@.@@@..@@....@@@@.@.....@@@..@@@@@..@.@@.@@@@.\n@@.@@@@.@.@@.@@.@@@@@@@@@@@.@.@@.@.@@.@@@@...@@.@.@@@@@@.@.@@@@@@@..@.@@.@@@@...@@..@@@@@@@@@.@@@.@@.@@.@.@..@.@@@..@@.@@@.@...@.@@.@@..@@@.\n@@.@@@@@@@@@@@.@@@@.....@.@@@@.@@.@@@@@.@@@@...@@@.@.@@@@@@@@@..@@.@.@.....@@@@@@@@@@@@@@@@@..@.@@@.@@@@@.@@@.@.@@@@@.@.@.@@@@@@.@@@.@..@@.@\n@.@.@@@@@.@.@@...@@@@@@..@@.@@@@@@.@@..@@@@...@...@.@.@@@@@@@@@@@@@@...@@@..@.@@.@@.@.@@.@@...@@@@@..@@@...@.@@.@@@...@@@@.@@.@.@@..@.@@@@@.\n@@@.@@.@@@@..@@@@@@.@@....@.@.....@@.@.@@.@@.@@@@@...@..@@...@@.@@@@@.@...@@@@.@@.@..@@.@.....@@@@@@@@@.@.@@@...@.@.@.@.@@@...@@@@@@..@@@@@@\n@.@.@@@@@@@@@@.@.@@@..@..@.@.@..@.@@@@.@@@@@@.@@@@@@...@.@.@@@.@.@@@.@.@@..@@.@@@.@.@.@@.@..@@.@..@@@@@..@@..@@.@@@..@..@@@...@@@@.@..@..@@.\n.@@@@@@@..@@@.@@.@.@@@@.@.@@@@..@@..@@@..@.@@@.@@@@@@@.@@..@..@..@@@..@@@.@@@@.@@@.@@..@@@.@.@@@@.@@@@@...@.@@.@@.@@@@..@..@.@@...@.@@..@@.."
                        },
                        {
                            "name": "Counter",
                            "type": "integer",
                            "value": 0
                        },
                        {
                            "name": "EmptyArray",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {}
            },
            "Rows": {
                "type": "Compose",
                "inputs": "@split(outputs('Compose'), '\n')",
                "runAfter": {
                    "Compose": [
                        "SUCCEEDED"
                    ]
                }
            },
            "For_each_Space_add_Empty_Space": {
                "type": "Foreach",
                "foreach": "@chunk(first(outputs('Rows')), 1)",
                "actions": {
                    "Append_to_string_variable": {
                        "type": "AppendToStringVariable",
                        "inputs": {
                            "name": "EmptyArray",
                            "value": "."
                        }
                    }
                },
                "runAfter": {
                    "Rows": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "concurrency": {
                        "repetitions": 50
                    }
                }
            },
            "For_each_Row": {
                "type": "Foreach",
                "foreach": "@outputs('Rows')",
                "actions": {
                    "Compose_Rows": {
                        "type": "Compose",
                        "inputs": {
                            "rowAbove": "@chunk(concat('.', if(equals(variables('Counter'), 0), variables('EmptyArray'), outputs('Rows')[sub(variables('Counter'), 1)]), '.'), 1)",
                            "rowCurrent": "@chunk(concat('.', items('For_each_Row'), '.'), 1)",
                            "rowBelow": "@chunk(concat('.', if(equals(variables('Counter'), sub(length(outputs('Rows')), 1)), variables('EmptyArray'), outputs('Rows')[add(variables('Counter'), 1)]), '.'), 1)"
                        }
                    },
                    "Increment_Counter": {
                        "type": "IncrementVariable",
                        "inputs": {
                            "name": "Counter",
                            "value": 1
                        },
                        "runAfter": {
                            "Send_message": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Send_message": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "referenceName": "servicebus"
                                }
                            },
                            "method": "post",
                            "body": {
                                "SessionId": "@guid()",
                                "ContentData": "@base64(outputs('Compose_Rows'))"
                            },
                            "path": "/@{encodeURIComponent(encodeURIComponent('day4part1'))}/messages",
                            "queries": {
                                "systemProperties": "None"
                            }
                        },
                        "runAfter": {
                            "Compose_Rows": [
                                "SUCCEEDED"
                            ]
                        }
                    }
                },
                "runAfter": {
                    "For_each_Space_add_Empty_Space": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "concurrency": {
                        "repetitions": 1
                    }
                }
            },
            "Compose": {
                "type": "Compose",
                "inputs": "@concat('@', variables('Input'))",
                "runAfter": {
                    "Initialize_variables": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "outputs": {},
        "triggers": {
            "Recurrence": {
                "type": "Recurrence",
                "recurrence": {
                    "interval": 12,
                    "frequency": "Month"
                }
            }
        }
    },
    "kind": "Stateful"
}