day4/part2/Day 4 Part 2 Trigger.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "actions": {
            "Initialize_variables": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "Counter",
                            "type": "integer",
                            "value": 0
                        },
                        {
                            "name": "EmptyRow",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {}
            },
            "Input": {
                "type": "Compose",
                "inputs": "@@..@.@.@..@@.@@@@@.@@@@@@..@@.@@.@@..@@@.@@@.@.@@@@.@@@.@@@.@..@.@@@@..@@@.@@..@@@.@@@..@@@@..@.@@.@@@.@..@.@@@.@@@..@@@.@.@@@@@.@.@.@@@@@@\n@.@@@@@@....@..@@@.@..@.@.@@.@@.@@..@@@..@.@@..@..@@@.@@@.@..@.@.@@..@@.@..@@.@@@..@.@@.@.@..@@...@@@@@@@@.@@@.@@@.@@.@@@@@@@..@..@@@.@.@@.@\n.@.@@@@.@@.@@.@.@.@@.@..@@.@@..@@@@@@@@@@@@...@@.@...@@@@.@.@@.@@@.@.@@..@@.@@.@@.@@..@...@@@@.@@@@@@@@@@@.@@@....@@@@@.@.@...@@.@@@@@@@.@@@\n@@@..@@@@.@@@@@@@@.@@@@@.@@.@....@.@..@.@@@@@@@...@@@@@@@@.@@...@.@@.@@@@@@.@....@@.@@@.@.@@..@@@.@.@@@..@.@.@@@.@.@@@@@@@@...@.@@@@@@.@..@@\n@.@@@@@.@@.@.@.@.@..@@@@.@..@...@.@@@.@.@@@@.@@.@@@@@@.@@@@@..@@..@.@.@@.@.....@@@.@@@.@..@@@.@@.@..@@@@.@.@@@@..@@@@@@.@@@.@@.@@..@@.@.@@@@\n@@.@@@@@.@@@.@@@@@.@@.@.@@@@.@@...@.@@@..@@.@@.@@@..@@@...@@.@@@@..@@@@@@@...@.@@@@@@....@..@@@@@.@...@.@.@@.@...@@@@.@.@@@.@@.@.@@@@.@.@@@@\n...@.@@.@@.@.@.@@@@...@@@@@@@@@.@.@@@.@@.@@@.@@.@@@@.@@@@@@@@@.@@..@..@.@@@@@@@@@@@@...@.@.@@@.@.@.@.@@@.@..@@@@@@@@@@@.@@.@...@@@@@@@@.@@@@\n..@@@.@.@.@@@@@...@@..@@..@@.@...@@@.@.@.@.@.@@.@.@@@.@@.@.@@@@.@.@@@@@@@.@@.@.@@@@@@.@.@@@@@@@@@@@.@.@@@@@.@@@@@@@@@.@...@@@.@@@@.@..@@@@..\n.@@@@.@@@.@.@@@.@@@..@@..@@@@@@.@..@.@@.@.@@@@@..@@@@@@@@.@.@@@.@@@@@.@.@@@@...@@.@@@.@.@@@@@@.@@.@.@@@@.@.@@@.@.@@@@@.@@@@...@@@@@@@@@@.@..\n@.@....@@.@..@@@.@.@..@@@@.@.@@.@..@@.@.......@.@@@@@@@.@@@@@@@@.@@@.@.@@.@@@@.@..@.@@@@@@.@@@@....@@.@@@@.@..@@@.@@.@.@@@@@@@@.@@@@.@.@@..@\n@@@@@.@@.@.@.@@.@..@@@.@.@@@@.@@@.@.@.@@@.@.@@@.@@@@@..@@@@@@..@@@@@@@@@@@@@@.@@@@.@@@@...@.@@@@..@@@@@@@.@@@@.@@.@@@@@@.@@@.@.....@@@@@@.@.\n@.@@...@@@.@@..@@@@..@@.@@.@...@@@@@...@@@@.@@@.@@.@..@@@@..@.@@@@..@@@.@..@@@@..@.@@.@.@.@@....@.@@..@@.@@..@@@@...@@.@..@@@@@@@...@@@..@.@\n...@.@...@@@..@..@.@@@@.@.@....@@@@@@.@..@@@@@.@@@@@@@@@@.@@@@@@@@.@@..@@@@@@@@@@@@@@.@.@...@@....@@.@@.@@@.@@@@@@.@.@..@@@@@@.@.@.@@..@@@@.\n@@@@.@@@@.@.@@.@.@..@@@..@@@.@@@@@..@@@@@@.@...@.@@@.@.@..@@@@@@.@@.@@@.@@..@@@@@@@..@@@@@@@@..@@..@@@@@..@.@.@@@.@@..@.@.@@@@@@@.@.@@@.@@@.\n@@@@@@@@.@@@@@@@.@@@.@.@.@@.@..@@@@@@@.@@..@@..@.@..@.@@@@@@..@.@.@@.@.@@@.@.@@@@..@@@@@@@@....@.@.@@@@@@@@@.@@@..@@@@@@..@@@@...@@@...@.@.@\n..@@@..@.@@.@.@@...@@@..@.@@@...@..@@.@@@@@..@@@@.@@@@.@@@.@@.@@.@@@@@@@..@.@..@.@.@@@..@@@@@...@@..@....@......@.@.@.@.@@@.@.@@@@@@@.@@.@@.\n.@@.@@@@@.@..@@@@@@.@....@@@.......@..@@@.@@@...@..@@..@@@@..@.@@@@.@@.@@..@@.@.@@@@.@@.@@.@@@@@...@@@@.@@@..@.@.@@@.@.@@.@@@..@@@..@@@@@..@\n@.@.@..@.@.@.@@.@@@@@@@@@@@@.@@@@.@@..@.@.@@@..@@@@.@@@@@...@.@@.@@@@@@@...@@..@@@@..@@....@.@@@.@.@@@@@.@@@@@@@..@@@@@@@@@.@@@@..@@@.@....@\n@@..@@.@@.@.@..@@...@.@.@.@@....@@@@@@.@.@@@@@@.@..@@@@@@.@@@@..@.@.@.@.@.@@.@@...@@@.@.@@.@@.@@@@@@@.@..@@.@.@.@@..@.@@@@@@@@.@@@@..@@...@.\n.@@..@@@@@@@.@.@@@@.@@@@@@@@.@.@@@@@@@@@.@@@@@.@@@@..@@@@..@.@@@@.@.....@.@@.@@.@@@@@..@@@@@.@@@@@.@@@.@@.@@@..@@@..@@@@.@@.@@@@@@@@@@@@.@@@\n.@..@@@@@@@@@@@.@@.@@.@..@..@@@...@@..@@@.@@.@.@@.@.@..@@.@@.@@@@@.@@@.@.@@@@.@@@@@.@...@@.@@.@.@@..@@@.@@@@@.@@@@@.@....@@@@@@@@.@@.@@@@@@@\n@..@@..@@@@.@@.@.@.@.@.@@@@..@@.@..@.@@@@@@@.@@..@@@@@.@@@.@@@.@.@@.@@.@@@.@@@@@@@@@@@@@.@@@@@@.@@@@@@@...@@@@@@@.@@@@.@.@.@@@.@@@.@..@@@..@\n@@@@@@@@.@.@@..@.....@.@@@...@.@@..@@@..@..@..@@@.@@@@@@@@.....@..@@.@.@.@.@@@@.@@.@@.@@@@@@.@.@.@@.@@@@@.@.@@@...@@.@@@@@@@...@.@@.@@@..@.@\n.@@@@@@..@.@@...@@@@@@@@@@@.@@@@@..@...@.@.....@@@.@.@@@.@@...@.@.@.@@@@@@.@@@@@@.@@@@@...@@@@.@..@@.@@@.@@.@.@@@..@@@@@@@@.@@@.@@..@.@.@.@@\n@.@@.@@@.@.@.@.@@@@@@@@.@@@@..@.@@@@@.@@.@@....@..@@.@..@@@....@@..@@.@@@@@@@@@....@@.@@@.@@..@...@@@@@@@.@@@@@.@@@.@@@@@@@@@@...@@.@.@@@@@@\n@@@@@@@@@...@.@.@@@.@@.@@.@.@..@..@..@..@.@.@@@.@@@@@@@@@...@@@@@@@@@@.@@@.@@.@@...@@@@@@@.@.@@.@@@@@.@.@@..@..@....@.@@@.@...@..@..@@.@@@@@\n@@@@@@@@...@@@.@@@....@@@.@..@@@@.@@@@@..@@@...@@.@.@@@.@@.@.@@.@.@@@@.@@.@@@@@@@@@@@@..@@....@@.@@@@@.@@@@@....@@@....@@@@@.@.@@.@@..@@@@@@\n.@@@@.@@@@....@..@.@@@@@.@@@@@@..@..@@.@@@@.@@@..@@@...@.@@@.@.@@@@@@@..@..@...@@@.@@@.@@@..@@@@@...@...@..@@@@@.@@..@@...@@@.@@@@@.@@@...@@\n@..@@@...@@@.@.@@@@.@@@@@@.@@@@.@@.@@@@@@@..@@@..@@@@.@@@@..@@@..@.@@@...@@.@@@@..@@@@@@@@.@@@.@@...@@...@.@..@.@.@@.@.@@@@.@@.@..@@..@..@@.\n@@@@@@@..@@..@@.....@@..@@@..@@@@@..@@@@@.@@@@@.@..@@@@..@.@@@@...@..@@@.@.@@@..@@@..@@@@@..@@@@.@.@.@@.@@@@@@...@@@@@@@@@@..@@.@.@@.....@@@\n.@@@@......@@@.@@..@@@.@..@.@@@@@@.@.@..@@.@@@.@@@@....@@@@.@@.@@@@@@@.@.@@@..@@@.@@@@@@..@@@.@@@@.@@@@@.@@@@@@@.@@.@@@@@@.@@@@@@@@@.@..@@@@\n....@@@@@.@.@@@@@@@@@.......@.@@@@@@..@@.@@@@.@@@..@@@.@..@@@.@.@@.@@@.@@..@@@.@@@@@@@.@.@@@@@@...@@.@..@.@@.@.@@.@@@@@.@@@@@.@..@...@@@.@@@\n@@@@@@@@@@@@.@@.@@@.@@.@@.@@@..@@@@@.@@@.@..@.@.@@.@@.@@@@@..@@.@@..@....@..@...@@@@@..@..@.@.@@..@...@@@@..@.@@@@@@@@.@@@@@@@@@.@..@.@@@@@.\n@.@..@@@@..@@.@@.@.@@@@@..@@@@@@@....@@.@@..@@.@@@@...@@@@.@@@@@@@@@@.@.@@.@..@.@@@@@@@@.@@@..@@..@..@@@..@@@@....@@@@@@.@@..@@@@@@@@@@@@@@.\n.@@.@.@.@@@@@@.@@@.@@@@.@..@.@@.@@@@..@@@@@@.@@@.....@.@.@....@.@@@@@.@@@@.@@@@@@@@@@.@@@.@@@@@@@..@@..@@.@...@.@@@.@.@.@@.@.@@@@@@..@@@@.@@\n@.@@.@@@@@@@@@.@.@@.@@@@@@@.@@....@@.@@.@@@@@.@@@@.@...@@.@@@@.@@@@@.@..@@@@@@@.@@..@@@@@..@@.@...@@.@@.@@@@.@@@@..@..@@@@@.@@@.@@.@@@@@...@\n@.@@@.@.@..@.@@.@.....@.@.@@@@@@@@@.@@@@@@@@@@.@..@.@@.@@...@@@.@.@@.@.@.@@.@@@..@@@@@@.@@@@@@@@@.@....@.@@@@@@.@@@@@.@@.@.@@@@@@@.@@@@@@@.@\n@.@...@@@...@@.@@..@@..@.@.@@..@.@.@..@..@@@@@@@..@@@@@@@@@@.@@.@@@.@@@@..@..@.@@..@@@.@.@.@@@.@.@.@@@@@@....@.@@@@@@@@@.@@@@@@..@@@.@@@.@@@\n.@@@@.@@@.@.@.@@..@@@.@@@@..@@@.@@.@@@..@@@.@@..@.@@@@@@..@@@@@.@@@.@@..@.@.@@@@...@@.@...@.@@@.@@@@.@@@.@..@@@@..@@@..@@.@@.@.@@.@.@.@@.@@@\n..@@@@..@@@..@.@@@@@.@..@.@@.@...@@@@@@@@..@.@@@@@@...@@@@.@.@@@....@...@@.@..@@@@@.@.@.@.@@.@@@@@.@@@@@..@@@@@@@..@@.@@.@@..@...@@@@@@@.@.@\n.@@@@.@@@@.@@@@@..@..@@..@.@.@@....@@@@.@...@@@@@@@@..@.@..@.@@@@@@@@@@@.@.@@..@.@@.@.@@@@@@.@@@.@@@.@@@..@@..@@..@.@@...@@.@..@..@.@@@.@.@@\n.@@@@@@@@@@@@.@@@.@@...@..@..@..@.@.@@@.@..@.@@...@@.@@..@@@@@@..@@@@@@@.@.@@@@@.@@.@...@@.@@.@@@@@@.@@@.@.@@@@..@...@@@@...@@.@@@@@@@@.@@.@\n.@@@@.@..@..@.@@@@@.@.@@@@.@.@.@.@..@.@@@@..@@@..@@..@..@@@@@.@.@@@@...@..@....@..@@.@...@@.@.@@@.@@@@.@@@.@@@@@....@@@@.@@@.@..@@@@@@@..@.@\n@@@@@@@@.@@@...@@..@.@.@.@@.@@.@@..@@@..@@.@@@@@@.@@.@@...@.@@@@..@@@@@..@@..@.@@@@@@@@@..@@...@@.@@@.@@@@@@@.@@..@@.@@@@.@...@.@.@..@@.@.@@\n@.@@@.@.@@@@@@@@@@@..@@...@.@@@..@@@@@..@.@@@..@.@@@@.@@@@@@@@@.@.@@@.@@@@@@@..@.@@...@@@..@@.@.@@.....@@@.@@.@..@@.@..@@@.@.@.@.@@@.@@.@@@@\n@.@.@....@@@.@@..@@@.@@@@@@@.@.@@.@.@@@@@@@.@@.@@@@@.@.@@....@.@@@..@@@@@.@@@@.@.@@@.....@@@@@@@@@@..@..@@@@@@..@.@@@@@@@.@.@@.@@@.@@@@.@.@@\n.@@@@.@@@.@..@@@.@@@.@..@@.@@.@.@@.@@@.@.@@@@@.@@.@..@.@.@@@@.@@@.@@.@@@..@.@.@@@..@@@@@@@@@@@.@@@@@@@@@.@@@@@@..@@@...@@@.@@.@.@@@@@@.@@@@@\n@@.@.@@@@@@@@@..@@...@@@@..@@@.@@.@.@.@@....@@..@@.@@..@@@.@@.@..@@.@@@@.@@@@@@@@.@@@@@@@@@..@.....@@@@....@@@@@...@...@..@@@@@.@@.@....@.@@\n.@@.@@...@@@@@@.@@.@@@@.@.@@@@.@@.@..@@@@.@...@@@@.@.@....@.@@@@@@@@@.@@..@@.@.@@@@@@.@.@@.@.@@@@@@....@.@@@@@.@.@.@.@@@@..@@@@.@.@..@..@@@@\n.@@@@@.@@@.@.@@...@@..@@@..@@...@@@@..@...@.@...@@.@.@@@@...@@@..@@@@@@@@@.@@.@..@.@.@@.@@@.@@@..@@@@...@@@@@@@..@.@@@@@@.@@.@.@@@@.@...@@.@\n@@..@.@.@@.@.@@.@.@@@..@@...@@@@@@@@@@.@.@@@@@@.@.@.@@..@@@..@...@@@@..@......@.@.@..@.@.@.@.@@@@.....@.@.@.@@.@@.@.@@@@@@.@@@@@..@.@.@..@@@\n.@@@@@@@@@@.@@@@..@.@.@.@@@@@@@@.@@@.@@.@@..@@..@@@.@@..@.@.@.@@@..@.@.@@@.@..@@@.@@.@.@..@@@...@.@@@@...@@@.@.@@.....@@...@.@@.@@@@@.@@@@@.\n.@@@..@@@@@@@.@@@.@@@@..@@@..@..@@@..@@@..@@.@@.@@@@@@@.@.@@@.@.....@@@@@.@@.@@..@@@@.@@....@@@..@@@@.@@@@@@.@@.@..@@@.@..@@..@..@@.@@@.@@..\n@@@@@@..@.@@@@@.@@@@.@..@.@@@@@..@@@@..@..@@@@@.@@@@@@@.@..@@..@@@@@@@@..@@@@.@.@@.@@...@.......@@.@..@@@@.@..@@@@...@.@@@.@......@@...@@@..\n@.@.@.@....@.@.@@.@@@@@@@.@..@.@..@@.@.@.@@@@@@..@...@...@.@.@.@.@@@@@@@@@..@@@.@@@@@@@@@.@..@@@@@@.@@.@@@@@@.@@.@@...@@@@@@.@@@.@@.@..@..@@\n.@@@.@@@@@@@@.@@@.@..@@.@..@..@@.@@@..@@@@@@.@@@@..@@....@@@@.@.@@.@@.@@@..@@@@@@@....@..@@.@@@@@..@..@...@@.@@@@@.@@.@@@@.@@@@@@.@..@.@@@.@\n@..@...@@@@..@@..@@..@@@.@.@@@@.@..@@@.@.@.@@@@@.@@...@..@@...@....@.@.@@@@@.@@@.@@..@@.@@@.@.@@..@@@@..@@@@@@@@@.@@@@@.@@.@@.@.@@.@.@.@@@.@\n@.@.@@@.@..@.@.@.@.@@@@@@@.@.@@.@..@@@.@@@@@@@...@@@.@@@.@@@@.@@@....@@@@@@@.@@.@.@@...@..@@.@..@.@@.@.@@@@..@@@.@@@@@@..@@@..@.@@@@@@@@@@.@\n.@@.@@@@..@..@@.@.@.@@.@@@@..@@.@....@@@@.@@@.@@@.@@@@@@@@.@@.@@@.@@@@.@@@@@@@@@.@@@@..@@.@..@@@.@.@@@@@@@@@@@.@@.@.@.@...@@@@@.@@.@...@@@@@\n.@..@@...@@.@@@@@@@@@@.@@@.@@.@@@@@@@.@@.@@@@.@@..@@.@.@@.@@@.@@@@.@.@@@@..@...@.@...@@@.@@@@@..@@@@@@@..@.@@@.@.@.@.@.@@.@@@@..@.@..@.@.@@.\n.@..@...@.@@.@..@@@@@@..@.@@@@@@...@@..@@.@@@@.@....@.@@@..@@@@..@@.@.@..@.@@.@.@.@@@.@..@.@@@@@@.@@@.@@.@.@..@@.@@.@.@@@.@.@.@.@@@.@@@.@@..\n.@@@.@.@..@..@@@..@@@.@@.@.@@@.@@@.@@@.@@@..@@@@@@..@@@@@@@.@@@@.@.@...@@@@@@@.@@@@...@..@@@@.@.@@@......@@@.......@@.@..@@@@@..@.@.@@@...@@\n.@@@@@@.@@@.@@@@@@@.@@.@@.@@@@@..@.@.@.@..@@.@.@.@@@.@.@@@.@@@.@@.@@..@@@..@@@@...@@..@.@.@@@..@@..@.@@@.@..@.@@@@@@@@@...@@@@.@@@@@@@.@.@.@\n@.@.@@.@@@....@@@@@@@.@@@...@@@..@.@@@@@@@@@@@@.@.@@@@@.@@@.@@.....@.@@@....@.@@....@@@@@@@.@@@@@.@@@.@.@.@@.@@@@@@@@..@.@.....@@@@@..@@@@.@\n@....@...@.@.@..@@@@@......@.@...@.@.@..@@.@@@@@@..@@@@.@.@.@.@.@.@...@@@@.@@@.@...@...@@@...@@@@@@@@@@@..@@@..@.@@@@@@.@@@@@....@@@.@@.@..@\n@@@@.@..@@@.@@@..@@.@@@@@@.@.@.@.@@@@@@@.@.@@.@@@.@@...@@.@.@.@@..@@@.@@@@@.@@.@.@@@@@.@@@@@@.@@.@@@@@.@.@@.@@....@@....@....@@@@.@@.@@@..@@\n@.@@@@@@@@@..@@@@@..@.@@.@..@@@.@@@@@@@@..@@@@@..@@@.@.....@@@..@.@@@@@@..@@..@@@.@.@..@.@@.@@@@@@.@.@@.@@@.@@.@@.@..@.@.@@@@..@.@@@@..@.@.@\n@@@@@.@.@.@@...@@...@@@@@@@@.@..@..@@@@..@@@..@.@@.@.@@@.@.@@@...@.@@@..@@@@@@@@@....@@@@@.@@@.@@..@@...@@@.@.....@@..@@@@@@@@@..@@@@@.@@@@@\n@@@..@@@.@@@@@@@@@@@@..@..@.@@.@@@@@@@@@@@@@.@@@@@@.@..@.@@@@@@@.@@@@@.@@@@@@@...@@@@@...@@.@.@@@@..@@@@@@.@@@@@..@@@@@@.@...@..@@@.@@.@.@@.\n.@@..@@@@@.@@.@@@@@@.@@@.@@.@.@@@@.@@..@@@....@@@@@@@.@@....@@@@@@.@@.@@...@..@@@@@@..@.@.@@@@@@@@@@.@@@@.@@@@.@.@@@@...@.@.@@.@.@@.@.@@@@..\n@.@@.@@.@@@@@@@@@.@@@@@@@.@@@..@..@.@...@..@..@.@....@@.@@.@@@@.@.@@.@@.@@.@.@@@@@@@@@@@.@.@@@..@@@..@@@.@@@@@@@@.@.@@@@@@@.@@.@..@@@@@@@@@@\n..@@..@.@@@@@.@@@.@@@.@.@@@@.@.@@@@@@@@@@@@@.@@@@...@@@@@@@@@@.@.@@.@...@@@@@..@@.@@@@..@@@...@..@@@.@@@.@@@..@@@@.@.@@.@@@.@.@.@.@@@.@@.@..\n@@..@@@@@...@@@.@@@@.@...@@@@@@@.@@@.@...@@@@@@@..@..@@@@@.@.@@.@.@@.@.@.@@@@@@...@.@....@@@..@.@@@@@@@@@@@@.@..@@@@@@@@@.@@.@@@@@..@@@@.@@.\n@.@@.@@..@...@@@@@@..@.@@...@@.@@@@@@.@.@...@@.@@@.@.@@@@@.@@@@@.@.@@@.@.@@@@@@@@@.@@@.@.@@@@@@@@@@@@.@.@@@.@@.....@.@@@@@@@@@@@@@@@..@...@@\n@.@.@.@.@.@@...@@@@@@.....@.@.@..@..@@@@@@@..@@@@@@....@@.@..@@..@.@@..@@@.@@.@@.@@@@@.@....@@@@....@.@@@...@..@...@@.@@@@@@@@@@.@@...@@@@.@\n@@@.@@@...@@@.@@@@@@@@.@.@@...@@@@..@..@@@@@..@@@@@@@@@....@@@@@.@@@....@.@.@.@.@@.@@@@..@@@.@@..@.@.@@@@@@@@@@@@@@@@.@.@.@@@@@....@..@@.@@@\n...@@@.@@.@@.@@.@@...@.@.@...@@.@@.@@.@..@@@@.@@.@@@@.@@.@@..@@@@...@@@@@.@..@.@@@@@@..@@..@@@.@.@.@@..@@@@@@..@@..@.@@@@@@@@.@...@@.@@.@@.@\n@@@@..@@.@@..@.@@@@@.@.@@@@.@@..@..@@.@.@@@@..@@@@@@@@@@@@@.@.@@@@.@.@@@@@@.@...@@@@.@.@@...@.@@@@.@@@..@@@..@.@@@@@..@.@@.@@.@@@@@@@@.@@@@.\n@@@..@@..@@@@@.@@.@..@@@.@..@.@@.@@..@.@.@@.@....@@@...@@@.@@@..@.@.@.@@@.@.@.@....@@....@@@@@.@@@@@@@.....@@..@.@@@.@@@@....@@..@@@.@@.@.@.\n@@.@..@@@@@@@.@.@@.@@@.@@@.@@.@@@@@@@@@@.@@@..@.@@@@..@@.@@.@.@.@@@.@.@@@@@@......@@@..@@@.@.@@.@@@@..@@.@@.@.@@..@.....@@@@@.@.@@.@.@.@.@.@\n@@@.@@@@..@.@@.@@@.@.@@@.@....@.@.@@..@..@@.@@@@@@.@@.@@@@.@@@@@@@@@@@@@..@.@.@@..@..@@.@@@@.@@.@@.@@..@@@@@@.@@@@@.@@.@@@.@@.@...@@.@@.@.@@\n@.@@@@@@@..@.@@@.@.@@@.@.@@@@@..@@@@@...@@@@.@@..@@.@.@...@@@@@@@@@@@.@@@@@@...@@@@@.@@@@@..@@@.@@.@..@.@@@@.@@.@@@.@@@.@@@.@.@@@@@@@@@..@@.\n@.@@.@..@@.@@@@@.@@.@@@.@..@..@@@.@.@.@@@@@.@@..@.@@....@@@@@.@..@@.@@.@@.@@.@@.@.@@.@@@.@@@.@@.@.@@@.@@@@@@@..@@@.@.@@.@.@@.@@@.@@...@.@@@@\n@@......@@@@@.@.@.@.@@@@..@@.@@@@@@@@@.@@@@.@@@.@@@.....@@@@@@@@..@@@@.@@...@@@@@@@@..@.....@.@@@..@.@@@@@@@@@.....@@@@@@@@.....@@.@@..@@.@.\n@@@...@@.@.@.@@.@@.@..@.@@.@@@@@..@..@.@@@@@@@.@@.@@@..@..@.@@@@.@@.@@@@@@@@@@@.@..@@@@.@..@@@@@.@.@@@@@@@@@..@@.@@@@...@@@@@@@.@@..@@.@@@@@\n.@.@@@.@@@@.@@.@@@@@...@@..@@@@@@@@@.@.@@..@.@@.@@@.@@@@@@.@@@@...@@.@@@..@...@@.@@@@.@....@@@.@....@....@@@@@@.@@@..@@.@@..@@...@@@..@.@@@.\n.@....@.@@@@@@@@@@...@@@@.@.@.@.@@@.@@@@@@@@@.@@.@@@..@.@.@@@@.@...@@@@..@.@@@@..@@.@@@@.@@@@@@.@@.@.@@.@..@@@@@@@@@@@@@@@@.@@@@@@.@.@.@.@..\n..@@@.@..@@..@@@@@@@..@@@.@@@@..@@..@@@@.@@@@..@@@.@@@.@@@@..@@..@.@.@.@@@@@@@...@@.@@@@@@.@@.@@@.@@@.@@@@@@@@.@.@@@@@@@@@.@.@....@@.@@@@@@.\n@.@@@.@@@@@.@@@@@.@@@...@.@@.@@@@@@.@..@.@@@@@@.@@.@@@@@@.@@@@@.@@@@@@...@@..@@@@@..@.@@@.@.@@.@.@.@@.@@@@.@.@..@@@.@.@@@...@@@..@@.@@@@@..@\n@@@.@@@.@@..@..@@@....@.@@@..@....@.@.@@@.@....@@@..@@.@@@@.@.@@...@..@.@@@.@@@@@@@@@..@.@@...@@@.@@@@@...@@....@@@@@@.@....@@@.@@.@@..@@@@@\n@.@..@...@@..@.@@@..@@@@@@.@..@@@..@@@@@.@@@@@@@.@..@@@@...@@.@@@@.@@@@@.@.....@@@@@.@@@@@.....@@.@..@@.@@@@@.@@.@@@@@.@@.@@.@@.@.@@..@.@.@.\n@..@@@@@@.@@...@.@..@@@@.@@@.@@@@@@@@.@..@@@@...@@@@@@@.@.@@.@@@@..@....@.@....@...@@.@@.@.@.@.@.@@.@@.@@.@@@..@@@@.@@@@.@@@.@.@@...@..@@...\n@@@@@@.@@@@@.....@@@@@@@@@@@..@.@@@@@@@@..@...@.@@.@@@@.@@@.@@@.@.....@.@@@.@@..@@@@...@@..@.@@@@.@@.@@@@..@@.@..@@@@@@@.....@@.@...@@..@.@.\n@@@.@@@@..@@.@.@@@@..@.@@.@@..@@@..@@.@@.@@...@@@@@..@..@@@@.@@.@@@@@.@@@..@@.@@@@..@.@.@...@@.@@@@@@..@@@@@@@..@@@@@@@.@.@.@.@.@...@@@.@@.@\n@@@@.@..@@.@.@.@@@.@..@@.@@@@@@@..@@@@@@@@@@@.@@@@@@.@@.@.@@.@@..@@@.@@@@@.@@.@..@@@.@@@@.@@@....@@@@@@@.@....@.@@@@@@@.@@@@.@@@...@.@@.@@@@\n@@.@.@@...@@@.@@..@@.@@@@.@@.@@.@..@.@..@@@@@@..@...@@..@@@.@.@@@@.@@.@@@.@.@@.@.@@@@@...@.@.@@@..@@@@.@@@@@.@...@@@.@@@@.@@.@...@.@@@.@@@.@\n@.@.@..@@@@..@@.@.@..@@@@@.@@@.@....@@.@..@@.@.@..@@..@....@@@.@@@..@@.@@@@@@.@.@.@@@@@.@@..@.@@.@@@..@@@.@@.@@@@..@@@@@@@@@.@@@@@@.@@@@.@.@\n.@.@@.@@@.@..@@..@@..@@@.@.@@.@@.@@.@....@@.@@.@.@@@@@.@@@.@.@....@.@@@.@@@@@@@@@@.@@@..@@@@....@@.@@...@.@@...@.@@....@...@.@@.@.@@..@.@@@@\n.@@@@@@.@@@@@@@..@@@@@@@@@@..@..@@@@@@@@@@....@.@@@@@@.@@@@@@@@@.@@..@.@...@......@.@@@@@.@.@.@@.@@....@@..@@@..@@.@@.@..@@@.@@...@@@@@@@@@.\n@@@.@@@@@@.@...@.@@...@..@@@@.@@@@@..@.@@.@@@@@@@....@@@.@.@@.@..@.@.@@.@.@@..@.@@@@.@....@...@@@.@@@@.@@@@@@@@.@...@@@@@@@@@@.@@@..@.@..@@@\n@@@@.@@..@..@@@@.@.@@@..@@.@@@.@@.@@.@@@..@@@@.@@@@@@.@@..@.@@@.@.@@...@..@@@...@.@@.@@.@.@@@@.@.@...@@@.@@@.@@.@.@@.@@.@@@@@@.@@@@.@@..@@@@\n.@.@.@@@@@@@@@.@...@..@@.@@@@@@@@@.@@@@.@@..@@.@@.@@@@.@@@@@@@..@@..@...@@.@@@@@@@@@.@@@@@@@@@@@@....@.@@@.@.@@@..@@..@@.@@.@@.@..@@.@.@@@@@\n.@@.@@@....@@...@@.@@@.@@...@@..@@.@@..@@@@...@@@@@..@@.@..@.@@@.@.@..@..@@@@.@@..@@......@.@@@@@@.@....@.@.....@@@.@@.@@@@..@@.@@@@..@@..@@\n..@.@@@@@.@@.@..@..@@.@@@@.@@@...@..@@@.@..@@@.@@@.@@...@@@@@@.@@.@.@@@@..@@@@@.@@@.@.@@@@@...@...@@@@.@@@@@.@@@@@@.@@@.@@@@@@..@....@.@....\n......@.@@@@@@@..@@@..@@@@@.@@@.@@@.@@.@.@.@@..@@@@.@.@@...@.@@@@.@@.@.@.@@@@@.@@@@@@@...@@.@@@@@..@@@.@@@.@.@@@@...@@@@@@.@@@.@@@@.@..@@@.@\n@.@@@@.@@.@@.@.@@.@@@@@@@@@@@@@@@@@@@@@@.@@@@.@.@.@@@@.@..@@@..@.@..@@@@@..@@@@@.@..@@.@@@@@@.@@@@@@.@@.@@@@@.@@@.@@@@.@.@@@@@@..@@.@@..@@@@\n.@@@@.@@@@@@@@.@@@@@.@..@.@..@..@@.@@@@@...@@@.@@@@@@.@@@@@@@@.@.@@@@..@@..@@@.@@@@@@.@.@@@@@@@.@@@.@..@.@@.@.@..@@@.@@@@@.@@@@@...@@@.@@.@.\n@...@@@@..@@.@@@.@@@.@@@@@.@@@....@@@@@@@@@@.@@..@.@.@.@.@@..@.@@@@@.@@.@.@@@@@.@@@.......@..@@......@@..@@.@@@.@@@@@@.@.@@@@@.@@@@.@@@@..@.\n.@@....@..@.@.@@@@@@@@@@@@..@@@@.@@@@@@@@@..@@.@.@@@@.@@.@@@@@@@.@@@..@.@.@@@@.@.@@@@@@@@.@@@@..@@@..@@@.@@@.@@@@......@@.@@..@@.@@@@.@...@.\n@@@@@@@@@@@@@@@@@@.@@.@...@@.@..@@.....@@@@@@..@@.@.@@..@..@@@...@@....@@@@@.@@@@.@@.@@@@.@..@@.@@.@@@.@@@......@...@...@@@@@@@@@@@.@@@@@.@@\n@@...@@@.@@.@.@.....@.@@@@@@@.@.@.@@@..@@@@@..@@.@@@@@@@@@@@@@@@.@@..@@@@...@@@.@@.@@.@@@@@.@..@@@.@@@@@..@@....@.....@@@..@@@@@@@@....@@@.@\n@@@@.@.@@@@@@@@..@..@.@@@@.@.@@..@@@@@@@.@@@@.@..@@@@@.@.@.@@@@@@..@.@.@...@@@@@@@@....@.......@...@@@@@@@.@.@..@@@@@..@@@@@@.@@@@@@.@@.@@@@\n@.@@@@@.@@@@..@..@.@@..@@..@@@..@@.@@...@@@.@.@@.@@@@@@@@@@..@@.@@@@@@.@@@..@@.@@@@@@@.@.@@..@.@..@@.@@@@.@@.@@@..@@.@@@.@..@@@@.@@@@.@.@@@@\n.@@@@@@@....@...@.@.@@...@@@@....@..@.@@@@.@.@@@@@.@@.@.@@@....@@.@@.@.@...@@.@...@.@....@@@.@@.@@@@.@@@.@.@.@.@@.@@.@@@@.@@@@@@.@@@@.@@@@@.\n@@@.@@@@.....@.@.@@@.@@....@@..@@.@@@@.@@.@@.@.@@.@@@@@@@@@@@@@@@..@..@@@@@@..@@@.@@.@..@...@@@.@@@@.@@@.@...@@@@@@@.@@@.@@.@@.@.@@@@@@@@.@@\n..@@@.@.@@.@@.@@.@@.@@...@@.@@..@.@.@.@..@@@@.@@..@@@@@@@@.@@@@@@@@.@.@.@@.@.@@..@@.@@@@@.@@@...@@@.@.@..@..@@@@@.@@..@@@@@@...@.@...@@@@@@.\n@@.@.@@..@@@@@@@.@.@@@@.@.@.@.@@@.@.@@@..@.@.@.@@.@@@@@@@@..@.@@.@....@.@@@@@@@@@@..@..@@@@@@@..@.@@@.@@@@@@@.@@..@.@@@@@@...@@@...@@@@@...@\n@@@@@...@@@@..@@@@@@@@@@.@@@.@@@@@@.@.@@.@@...@..@.@@@...@@@..@@.@.@@@@@@@@@@...@@.@@.@@@.@@@.....@@@@@.@@@@@@@@.@@@...@@.@@..@.@@@@@@@.@@@@\n...@@@@@.@.@.@.@..@@@@.@@@@@@@@@@...@.@.@@@...@@@..@@@@@.@@@@@@@@@@@@@.@@@@@@.@...@@@@.@@@@@.@.@@.@...@@.@@.@@@@@@@@@@@@@.@@..@.@@@@.@@@.@@@\n@@.@@..@@@@.@@..@@@.@@.@.@@@@.@@@.@@@..@@....@@@@..@@@...@@@.@@@.@.@@@.@@..@@@@@..@..@@..@@..@.@..@..@.@@@@.@.@.@@@@@@@.@@.@@@@@@..@@..@.@..\n@@@.@@.@@@.@@@.@..@.@@...@@.@@@.@..@.@@.@....@@@.@.@@@.@.@@.@@.@@.@@.@.@.@@.@..@.@.@@.@@.@@.@.@@@@@...@@@@..@@.@@..@.@@@@@@..@@@@.@@@@..@@..\n@@.@.@@@@@@@@@@..@@..@..@@@@@..@@@.@.@@@.@@@@.@@....@@.@.@@..@@.@@@@.@@.@@@@.@@.@@.@@@@.@...@@.@..@@@..@.@.@@.@@@@.@.@@@@.@.@@.@.@..@.@@.@.@\n@@@@@..@@.@...@@@@@.@@@.@@@@@@@.@@@.@@@@@@@@@@@.@@.....@..@..@.@@@@@@@@@.@@@.@@.@@..@.@........@..@.@@@@@@@@.@@.@.@.@@.@@@@.@....@@.@.@@@@.@\n@@@.@..@.@@.@@@@@..@@@@.@@..@@@@@@@@@@@.@@@@@@@..@@.@@.@@@@@@@@.@@@@@...@.@..@.@..@..@@@.@@.@@@.@@.@@.@....@@@@@@@@@.@@..@.@@@@...@.@@.@@@@.\n.@.@@...@@.@@.@.@@@@.@@..@@..@..@@.@@@.@@@@.@.@@.@.@@@@@@@..@@@.@@@@@@@@.@@.@@@..@..@@@@@.@@@.@.@@@@.@...@@@@@@@@@@.@@.@@.@@@.@@@@.@.@@..@..\n@..@.@..@@...@.@@@@..@@.@@@.@@@@@.@.@@@@..@@@@@.@@@@.@.@@.@@.@@@@.@@@..@@@@@..@..@@@@@@@.@...@@@@..@@@@@@@.@.@...@.....@@@@@..@.@.@@.@@@@@..\n.@.@@@@...@@@.@@@@@.@@@@@@.@@@@@@..@@..@@@@.@@@@@@@@@@@@@.@@@@@@..@@@@@.@@@@@@@@@.@...@@@@@@@.@.@@.@.@@@..@@@@@@@..@..@@@@@@@@..@@@...@@@.@.\n.@@@@..@@@@@@@@@@@@@@...@.......@.@.@@@@@@.@.@@@@@@@@@@@...@.@@@@@@.@.@@@@@.@.@@@@@.@.@@..@..@.@@@.@@..@@@@..@@@@@@.@@@@.@@@@..@@@.@..@..@@@\n...@@@.@..@@@@@.@@@@@@@.@.@.@....@@@@.@@@.@@@.@@@@@.@.@@@.@@@@@@@@.@@@@..@@.@@...@@@@@@@@@@@@@@@@.@@@@.@@@..@@@@.@@.@..@@...@@@.@@@@.@..@..@\n@..@.@@@@@@@..@@@@..@@@@..@.@@@@@@@@@@@.@@@@@@@@@@@@....@@.@@@@@@@@@@@@@@@@@.@@.@.@.@@.@.@.@@@@@@@@@@@@@@@...@@@@@.@@...@@@...@@..@@@@..@.@@\n@.@....@@@@@@@@@@@.@@@.@@.@@@@.@..@@@@@@.@@..@@@@@@...@.....@.@@...@@..@@...@@@@@@@@@@.@@@@@..@...@.@@.@@@.@@@@...@@@@@..@@@@..@@@@@.@@@@...\n@@..@@@@@@@@@@.@.@@@....@@@@@@.@@.@@@@@..@@@.@@..@.@.@@@@@@.@@@@@@.@@...@@@@@@@@@.@@@@@..@@@.@@@.@.@@@@@@@@@@.@..@.@@@@.@@@..@@@@.@@@..@..@@\n@@@....@..@@@@@@@@@@.@...@@.@@@@@@@@@@@@@..@@..@@..@@@..@.@@.@@@@.@@.@@@@.@@.@.@@@.@..@@@@@@@@.@.@@@.@@@@@@@@.@@.@@@.@@@.@.@.@@@@..@@@.@@.@.\n@@@@.@@@..@@@@@@@...@@@@@.@@@.@@@@@@@@@.@@.@.@@@.@@@.@.@.@@@@.@@@@@@.@@.@@....@@@@@@@@@.@@@.@@@.@@@..@@....@@@@.@.....@@@..@@@@@..@.@@.@@@@.\n@@.@@@@.@.@@.@@.@@@@@@@@@@@.@.@@.@.@@.@@@@...@@.@.@@@@@@.@.@@@@@@@..@.@@.@@@@...@@..@@@@@@@@@.@@@.@@.@@.@.@..@.@@@..@@.@@@.@...@.@@.@@..@@@.\n@@.@@@@@@@@@@@.@@@@.....@.@@@@.@@.@@@@@.@@@@...@@@.@.@@@@@@@@@..@@.@.@.....@@@@@@@@@@@@@@@@@..@.@@@.@@@@@.@@@.@.@@@@@.@.@.@@@@@@.@@@.@..@@.@\n@.@.@@@@@.@.@@...@@@@@@..@@.@@@@@@.@@..@@@@...@...@.@.@@@@@@@@@@@@@@...@@@..@.@@.@@.@.@@.@@...@@@@@..@@@...@.@@.@@@...@@@@.@@.@.@@..@.@@@@@.\n@@@.@@.@@@@..@@@@@@.@@....@.@.....@@.@.@@.@@.@@@@@...@..@@...@@.@@@@@.@...@@@@.@@.@..@@.@.....@@@@@@@@@.@.@@@...@.@.@.@.@@@...@@@@@@..@@@@@@\n@.@.@@@@@@@@@@.@.@@@..@..@.@.@..@.@@@@.@@@@@@.@@@@@@...@.@.@@@.@.@@@.@.@@..@@.@@@.@.@.@@.@..@@.@..@@@@@..@@..@@.@@@..@..@@@...@@@@.@..@..@@.\n.@@@@@@@..@@@.@@.@.@@@@.@.@@@@..@@..@@@..@.@@@.@@@@@@@.@@..@..@..@@@..@@@.@@@@.@@@.@@..@@@.@.@@@@.@@@@@...@.@@.@@.@@@@..@..@.@@...@.@@..@@..",
                "runAfter": {
                    "Initialize_variables": [
                        "SUCCEEDED"
                    ]
                }
            },
            "For_each_Space_in_Row": {
                "type": "Foreach",
                "foreach": "@chunk(first(split(outputs('Append_end_spaces_to_each_Row'), '\n')),1)",
                "actions": {
                    "Append_to_EmptyRow": {
                        "type": "AppendToStringVariable",
                        "inputs": {
                            "name": "EmptyRow",
                            "value": "."
                        }
                    }
                },
                "runAfter": {
                    "Append_end_spaces_to_each_Row": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Append_end_spaces_to_each_Row": {
                "type": "Compose",
                "inputs": "@concat('.@', replace(outputs('Input'), '\n', '.\n.'), '.')",
                "runAfter": {
                    "Input": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Compose_Full_Input": {
                "type": "Compose",
                "inputs": "@concat(variables('EmptyRow'), '\n', outputs('Append_end_spaces_to_each_Row'), '\n', variables('EmptyRow'))",
                "runAfter": {
                    "For_each_Space_in_Row": [
                        "SUCCEEDED"
                    ]
                }
            },
            "For_each_Row": {
                "type": "Foreach",
                "foreach": "@split(outputs('Compose_Full_Input'), '\n')",
                "actions": {
                    "Increment_Counter": {
                        "type": "IncrementVariable",
                        "inputs": {
                            "name": "Counter",
                            "value": 1
                        },
                        "runAfter": {
                            "Insert_or_Update_Entity": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Insert_or_Update_Entity": {
                        "type": "ServiceProvider",
                        "inputs": {
                            "parameters": {
                                "tableName": "day4part1",
                                "entity": {
                                    "PartitionKey": "day4",
                                    "RowKey": "@{variables('Counter')}",
                                    "Row": "@{items('For_each_Row')}",
                                    "RowIndex@odata.type": "Edm.Int32",
                                    "RowIndex": "@variables('Counter')"
                                }
                            },
                            "serviceProviderConfiguration": {
                                "connectionName": "azureTables-1",
                                "operationId": "upsertEntity",
                                "serviceProviderId": "/serviceProviders/azureTables"
                            }
                        }
                    }
                },
                "runAfter": {
                    "Compose_Full_Input": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "concurrency": {
                        "repetitions": 1
                    }
                }
            },
            "Upload_File1": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "containerName": "day4",
                        "blobName": "file1",
                        "content": "@outputs('Compose_Full_Input')",
                        "overrideIfExists": "true"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "AzureBlob",
                        "operationId": "uploadBlob",
                        "serviceProviderId": "/serviceProviders/AzureBlob"
                    }
                },
                "runAfter": {
                    "For_each_Row": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Send_message": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "servicebus"
                        }
                    },
                    "method": "post",
                    "body": {
                        "SessionId": "@guid()",
                        "ContentData": "@base64(string(length(split(outputs('Compose_Full_Input'), '\n'))))"
                    },
                    "path": "/@{encodeURIComponent(encodeURIComponent('day4part2trigger'))}/messages",
                    "queries": {
                        "systemProperties": "None"
                    }
                },
                "runAfter": {
                    "Upload_File1": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "outputs": {},
        "triggers": {
            "Manual": {
                "type": "Request",
                "kind": "Http"
            }
        }
    },
    "kind": "Stateful"
}