day3/part1/Day 3 Part 1 Result.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "actions": {
            "Initialize_Result": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "Result",
                            "type": "integer",
                            "value": 0
                        }
                    ]
                },
                "runAfter": {}
            },
            "Get_entities_(V2)": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "azuretables-1"
                        }
                    },
                    "method": "get",
                    "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/tables/@{encodeURIComponent('day3part1output')}/entities"
                },
                "runAfter": {
                    "Initialize_Result": [
                        "SUCCEEDED"
                    ]
                }
            },
            "For_each": {
                "type": "foreach",
                "foreach": "@body('Get_entities_(V2)')?['value']",
                "actions": {
                    "Increment_Result": {
                        "type": "IncrementVariable",
                        "inputs": {
                            "name": "Result",
                            "value": "@int(items('For_each')['Value'])"
                        }
                    }
                },
                "runAfter": {
                    "Get_entities_(V2)": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Result": {
                "type": "Compose",
                "inputs": "@variables('Result')",
                "runAfter": {
                    "For_each": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "outputs": {},
        "triggers": {
            "Manual": {
                "type": "Request",
                "kind": "Http"
            }
        }
    },
    "kind": "Stateful"
}