day7/part1/Day 7 Part 1.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "actions": {
            "Input": {
                "type": "Compose",
                "inputs": "......................................................................S......................................................................\n.............................................................................................................................................\n......................................................................^......................................................................\n.............................................................................................................................................\n.....................................................................^.^.....................................................................\n.............................................................................................................................................\n....................................................................^...^....................................................................\n.............................................................................................................................................\n...................................................................^.^.^.^...................................................................\n.............................................................................................................................................\n..................................................................^.^.^.^.^..................................................................\n.............................................................................................................................................\n.................................................................^.^.^.^.^.^.................................................................\n.............................................................................................................................................\n................................................................^.^.^.....^.^................................................................\n.............................................................................................................................................\n...............................................................^.^.^.^...^.^.^...............................................................\n.............................................................................................................................................\n..............................................................^.^.^...^...^.^.^..............................................................\n.............................................................................................................................................\n.............................................................^...^.....^...^.^.^.............................................................\n.............................................................................................................................................\n............................................................^.^.....^.^...^.^.^.^............................................................\n.............................................................................................................................................\n...........................................................^.^...^...^.^.^.^.^.^.^...........................................................\n.............................................................................................................................................\n..........................................................^.^...^.^.^.^.^.^.^.^.^.^..........................................................\n.............................................................................................................................................\n.........................................................^.^.^.^.....^.^.^.^.....^.^.........................................................\n.............................................................................................................................................\n........................................................^.^.^.^.....^.^.^.^.^.....^.^........................................................\n.............................................................................................................................................\n.......................................................^.^.^.^.^.^.^.^.^...^.....^...^.......................................................\n.............................................................................................................................................\n......................................................^.^...^...^.....^...^...^.^.....^......................................................\n.............................................................................................................................................\n.....................................................^.^.^...^.^.....^.^.^.^...^.^.^.^.^.....................................................\n.............................................................................................................................................\n....................................................^.^.^.^...^.^.^.^.............^.^.^.^....................................................\n.............................................................................................................................................\n...................................................^.^.^.^.^.^...^.^.^.^.....^.^.^.^.^.^.^...................................................\n.............................................................................................................................................\n..................................................^...^...^.....^.......^.^.^...^...^.^.^.^..................................................\n.............................................................................................................................................\n.................................................^...^...^.^.^.^.^...^...........^.^.^.....^.................................................\n.............................................................................................................................................\n................................................^.^.^.^.^.^.^.^...^...^...^...^.^.^.....^.^.^................................................\n.............................................................................................................................................\n...............................................^.^...^.^...^.^.^...^...^.^.....^.^.^.^.^.....^...............................................\n.............................................................................................................................................\n..............................................^.^.^.^.^.^...^...^...^.^.^.^...^.^.^.^.......^.^..............................................\n.............................................................................................................................................\n.............................................^.^.^.^...^.^.^.^...^.^...^...^...^...^.....^.^.^.^.............................................\n.............................................................................................................................................\n............................................^.^...^...^.^.^.^...^...^.^.^.^.^.^...^.^.^.^.^.^.^.^............................................\n.............................................................................................................................................\n...........................................^.^...^.^.^.^.^.^...^...^...^...^...^.^...^.^.^.^...^.^...........................................\n.............................................................................................................................................\n..........................................^.^.^...^.^.^.^...^.^.^.^...^...^.^.^.^.^.^...^.^.^.^.^.^..........................................\n.............................................................................................................................................\n.........................................^.^.......^...^.....^...^.^.^.^.^.^.^.^.^...^.^.^...^.^.^.^.........................................\n.............................................................................................................................................\n........................................^.^...^.^...^...^.^.^.^.^.....^.....^.^.^.^.^.....^...^.^...^........................................\n.............................................................................................................................................\n.......................................^.^.^.^.^.^.^.^.^.^.^...^...^.^...^.^...^...^.^.......^.....^.^.......................................\n.............................................................................................................................................\n......................................^...^.^.^.^.....^...^.........^.^...^.^.^...^.^...^.^.^.^.^.^...^......................................\n.............................................................................................................................................\n.....................................^.^...^.^.^.^.......^.^.....^.^.^.^.^.^.^...^.^.....^.....^.^...^.^.....................................\n.............................................................................................................................................\n....................................^...^...^.....^...^.^.^...^.^.^.^.^.^.^.......^.....^.^.^.^...^...^.^....................................\n.............................................................................................................................................\n...................................^.^.^.^...^...^.^...^.^.^...^.....^.^...^.^...^.^.^...^...^.^.^.^.^...^...................................\n.............................................................................................................................................\n..................................^.^.^.^.^...^.^.^.^.^.^.^.^...^...^...^.^.....^.^.^...^.^...^.^.....^.^.^..................................\n.............................................................................................................................................\n.................................^...^.........^...^.^.^.^.^.^.^.^.^.^.^.^.^.^.^...^.......^.^.^.....^.^.^.^.................................\n.............................................................................................................................................\n................................^.^.^...^...^...^.^.^.^...^.^.^.^.^.^...^.^.^.^...^.^.^.^.^.^.^.^.^...^.^.^.^................................\n.............................................................................................................................................\n...............................^.^...^.^.^.^.^.^...^.^.^...^...^...^.^.^.....^...^...^.^.....^.^...^.^.....^.^...............................\n.............................................................................................................................................\n..............................^.^.^...^.^.^.^.^.^.^.^.^.^.^.^.^...^.^...^.^.^.^.^.^.^...^...^.....^.....^.....^..............................\n.............................................................................................................................................\n.............................^.^.^.^.^.^.^...^.^.^.^.^.....^.^.^.....^.^.^.^.....^...^...^.^.^...^.^.^.^.....^.^.............................\n.............................................................................................................................................\n............................^.^...^.^.^.^.^.^.^.^...^...^.^.^.^.^.....^.^.^.^.^...^.^.^.^...^.^.^...^...^.^.^...^............................\n.............................................................................................................................................\n...........................^...^...^.^...^.^.^...^.^...^.......^...^...^.^...^.^.^...^.^...^.^...^.^...^.^...^.^.^...........................\n.............................................................................................................................................\n..........................^.^...^.^...^.^...^.^...^.^.^.^.^.^.^.^.^.^.^...^.^.........^...^.^...^.....^...^.^...^.^..........................\n.............................................................................................................................................\n.........................^.^.^.^.^...^.^.^.....^.^.......^.^.^...^...^.^...^.......^.^.^...^.^.^.....^.^.^.^.^.^...^.........................\n.............................................................................................................................................\n........................^.^.....^...^.^.^...^.^...^...^.^.^.^.^...^.^.^...^.^.^.^...^.^.....^.^.^.^.^.^...^.....^.^.^........................\n.............................................................................................................................................\n.......................^.^...^.^...^.^.^.^.....^...^...^...^.....^.^...^.^...^...^.^.^.^.^.^...^.......^.^.^.^.^...^.^.......................\n.............................................................................................................................................\n......................^.^.^.....^...^...^.^.^.^.....^.^...^.^.^.^.^...^...^.......^.^.^.^.........^.....^.^.^...^.^...^......................\n.............................................................................................................................................\n.....................^.^.^.....^...^.....^.^...^...^.....^.....^.^.^.^...^.^...^.^.^...^.^.^.^.^.^.^...^...^.^.^.^.....^.....................\n.............................................................................................................................................\n....................^.^.......^.^.^.....^...^...^...^.^.^.^.^...^.^...^.....^.^.^.^.^.....^...^.^...^.^.....^.^...^.^.^.^....................\n.............................................................................................................................................\n...................^...^.^.^.^.^.^.....^...^.^.^.^.^.....^...^...^.^.^.^...^.........^.^.....^...^...^.^.^.......^.^.^.^.^...................\n.............................................................................................................................................\n..................^.^.^.^.......^.^.^.^.^...^.^...^...^.^.......^.^.^.^.^.^...^.^.^.^.^...^.^.^...^.^.^...^.^...^.^.....^.^..................\n.............................................................................................................................................\n.................^.^...^.^.^.^.^...^.^.^.......^.^.^...^.^.^...^.^.^.^.^.^.^.^.....^.^.^...^.^.^.^.^.^.^...^.^.^.^.^.^...^.^.................\n.............................................................................................................................................\n................^...^.^.^...^.^.....^.^.^.^.^.^.^.^.^.^...^.^.^...^...^.......^...^.^.^.^.^...^...^.^.^...^...^...^.^.......^................\n.............................................................................................................................................\n...............^.^.^...^.^.^.^.^.......^.^.^.^.^.^.^...^.^.^.^.^.^.^.......^.......^.....^.^.^...^...^...^...^.^.^.^.^.^.^.^.^...............\n.............................................................................................................................................\n..............^...^.^.^...^.^.^.^.......^.....^.^...^.^.^.^.^.^.^.^...^.................^.^.^.^...^.^.^.^.......^.^.^...^...^.^..............\n.............................................................................................................................................\n.............^.^.^.^.........^.^.^.^.^.^.^.^.^.^.^.^.^.^...^.^.^...^.^.^.^.^.^.^.^.^.......^.^.^.^.^.^...^.^...^.^.^.^...^.^.^.^.............\n.............................................................................................................................................\n............^.^.^.^...^.^...^.^...^.^...^.^.^.^...^.......^.^...^...^.^...^.^...^...^.^.^.^...^.......^.^...^...^.......^.^.^.^.^............\n.............................................................................................................................................\n...........^...^.^.^.^.^.^.^.^.^.^.^.^.^...^...^.^.....^...^.....^.^.^.^.^.^.^.^.....^.....^.^.^.^.^.^.^.^.^...^...^.^.....^.^.^.^...........\n.............................................................................................................................................\n..........^.^...^.^.....^...^.^.^.^...^.^.^.^.^.^...^.^...^.^.......^.....^.........^.^.^.......^...^.^.^.......^...^.^...^.^.^.^.^..........\n.............................................................................................................................................\n.........^.^.^.^.^...^...^.^.......^.^.^.^.^.^...^.^.^.^.^.^.^...^...^...^.^.^.^.....^.^.^.^...^.^.^...^.^.^.^.^.^...^.^.^.....^...^.........\n.............................................................................................................................................\n........^.^.........^.^.^...^.^.....^.....^.^.^.^.^.^.....^...^.^.^.^.......^...^...^.^.^.....^...^.^.^.^.^.....^.^.^.^.^.^...^...^.^........\n.............................................................................................................................................\n.......^.^.^.^.^.^.^...^.^...^.^.^.^...^...^...^...^.^...^.^.^.^...^.^...^.....^.^.^...^...^.^.....^.^.^.^.^.....^.....^.^...^.^.^...^.......\n.............................................................................................................................................\n......^...^...^.^.^.^...^.^.^.^.^...^...........^.^.^.^.^.^.^.^.^.^.^.^.^...^.^...^.^...........^.^...............^.^.^.^.^.^.^...^.^.^......\n.............................................................................................................................................\n.....^.....^...^.^.^.^.^.^.....^...^...^...^.^.^.^.^.^.^.^.^.^.^.^.^...^.^.^.^...^.^.^.^.^.^.^.^.^.^.....^...^.^.^.......^.^.^.^.^.^.^.^.....\n.............................................................................................................................................\n....^.....^.^.^...^...^.^.....^.^.....^...^.^...^.^.^.^.^.^.^.^.^.^.^.^.^...^.^.^.^.^.^.^...^.^...^.^.^.^...^.^...^.^...^...^.^...^...^.^....\n.............................................................................................................................................\n...^.^.^.^.^.^.^.....^...^...^.^.......^.^.^.^.....^.^...^.^.^.^.^...^.^...........^.^.^.^.^...^.^.^...^...^.^.......^.^.^.^.^.^.^.....^.^...\n.............................................................................................................................................\n..^.^.^.^...^.^.^.^.^.^.^.^.....^.^.^.^...^.^.^.^.^.^.^.^.^.^.^.....^.^.^.^.^.^.^.^.........^.^.^.^...^.^.^.^.......^.^.^.^...^...^.....^.^..\n.............................................................................................................................................\n.^.^.^.^.^.^.^.^.^...^.^.....^.^.^...^.^.....^...^.^.^...^...^...^.^.^...^.^.^.....^.^...^...^...^...^...^.^.^.^...^.^.^...^.^.^...^...^.^.^.\n.............................................................................................................................................",
                "runAfter": {
                    "Initialize_variables": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Initialize_variables": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "Input",
                            "type": "array"
                        },
                        {
                            "name": "StartPhoton",
                            "type": "integer"
                        },
                        {
                            "name": "Counter",
                            "type": "integer",
                            "value": 0
                        },
                        {
                            "name": "TempRow",
                            "type": "string"
                        },
                        {
                            "name": "RowCounter",
                            "type": "integer",
                            "value": 2
                        },
                        {
                            "name": "Amount",
                            "type": "integer",
                            "value": 0
                        }
                    ]
                },
                "runAfter": {}
            },
            "Set_Position_StartPhoton": {
                "type": "SetVariable",
                "inputs": {
                    "name": "StartPhoton",
                    "value": "@indexOf(first(outputs('Split_Rows')), 'S')"
                },
                "runAfter": {
                    "Append_to_Input_Start": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Create_first_line": {
                "type": "Until",
                "expression": "@equals(variables('Counter'), length(outputs('Chunk_First_Row')))",
                "limit": {
                    "timeout": "PT10H"
                },
                "actions": {
                    "Increment_Counter": {
                        "type": "IncrementVariable",
                        "inputs": {
                            "name": "Counter",
                            "value": 1
                        },
                        "runAfter": {
                            "Is_Start_Position": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Is_Start_Position": {
                        "type": "If",
                        "expression": {
                            "and": [
                                {
                                    "equals": [
                                        "@variables('Counter')",
                                        "@variables('StartPhoton')"
                                    ]
                                }
                            ]
                        },
                        "actions": {
                            "Append_to_TempRow": {
                                "type": "AppendToStringVariable",
                                "inputs": {
                                    "name": "TempRow",
                                    "value": "|"
                                }
                            }
                        },
                        "else": {
                            "actions": {
                                "Append_to_TempRow_empty_Space": {
                                    "type": "AppendToStringVariable",
                                    "inputs": {
                                        "name": "TempRow",
                                        "value": "."
                                    }
                                }
                            }
                        }
                    }
                },
                "runAfter": {
                    "Chunk_First_Row": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Split_Rows": {
                "type": "Compose",
                "inputs": "@split(outputs('Input'), '\n')",
                "runAfter": {
                    "Input": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Chunk_First_Row": {
                "type": "Compose",
                "inputs": "@chunk(outputs('Split_Rows')[0], 1)",
                "runAfter": {
                    "Set_Position_StartPhoton": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Append_to_Input_Start": {
                "type": "AppendToArrayVariable",
                "inputs": {
                    "name": "Input",
                    "value": "@first(outputs('Split_Rows'))"
                },
                "runAfter": {
                    "Split_Rows": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Append_to_Input": {
                "type": "AppendToArrayVariable",
                "inputs": {
                    "name": "Input",
                    "value": "@variables('TempRow')"
                },
                "runAfter": {
                    "Create_first_line": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Result": {
                "type": "Compose",
                "inputs": "@join(variables('Input'), '\n')",
                "runAfter": {
                    "Go_over_Rows": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Go_over_Rows": {
                "type": "Until",
                "expression": "@equals(variables('RowCounter'), length(outputs('Split_Rows')))",
                "limit": {
                    "timeout": "PT10H"
                },
                "actions": {
                    "Get_Row": {
                        "type": "Compose",
                        "inputs": "@chunk(outputs('Split_Rows')[variables('RowCounter')], 1)",
                        "runAfter": {
                            "Reset_Counter": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Increment_RowCounter": {
                        "type": "IncrementVariable",
                        "inputs": {
                            "name": "RowCounter",
                            "value": 1
                        },
                        "runAfter": {
                            "Append_to_Input_Next_Row": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "For_each_Space": {
                        "type": "Until",
                        "expression": "@equals(variables('Counter'), length(outputs('Get_Row')))",
                        "limit": {
                            "timeout": "PT10H"
                        },
                        "actions": {
                            "Get_Spaces": {
                                "type": "Compose",
                                "inputs": {
                                    "spaceAbove": "@{chunk(last(variables('Input')), 1)[variables('Counter')]}",
                                    "spaceLeft": "@{if(equals(variables('Counter'), 0), '', outputs('Get_Row')[sub(variables('Counter'), 1)])}",
                                    "spaceRight": "@{if(equals(variables('Counter'), sub(length(outputs('Get_Row')), 1)), '', outputs('Get_Row')[add(variables('Counter'), 1)])}",
                                    "spaceCurrent": "@{outputs('Get_Row')[variables('Counter')]}"
                                }
                            },
                            "Check_if_Splitter": {
                                "type": "If",
                                "expression": {
                                    "and": [
                                        {
                                            "equals": [
                                                "@outputs('Get_Spaces')['spaceCurrent']",
                                                "^"
                                            ]
                                        }
                                    ]
                                },
                                "actions": {
                                    "Append_to_string_^": {
                                        "type": "AppendToStringVariable",
                                        "inputs": {
                                            "name": "TempRow",
                                            "value": "^"
                                        }
                                    },
                                    "Line_Above": {
                                        "type": "If",
                                        "expression": {
                                            "and": [
                                                {
                                                    "equals": [
                                                        "@outputs('Get_Spaces')['spaceAbove']",
                                                        "|"
                                                    ]
                                                }
                                            ]
                                        },
                                        "actions": {
                                            "Increment_Amount": {
                                                "type": "IncrementVariable",
                                                "inputs": {
                                                    "name": "Amount",
                                                    "value": 1
                                                }
                                            }
                                        },
                                        "else": {
                                            "actions": {}
                                        },
                                        "runAfter": {
                                            "Append_to_string_^": [
                                                "SUCCEEDED"
                                            ]
                                        }
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "Check_Space_Above": {
                                            "type": "If",
                                            "expression": {
                                                "or": [
                                                    {
                                                        "and": [
                                                            {
                                                                "equals": [
                                                                    "@outputs('Get_Spaces')['spaceAbove']",
                                                                    "|"
                                                                ]
                                                            },
                                                            {
                                                                "equals": [
                                                                    "@outputs('Get_Spaces')['spaceCurrent']",
                                                                    "."
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "and": [
                                                            {
                                                                "or": [
                                                                    {
                                                                        "equals": [
                                                                            "@outputs('Get_Spaces')['spaceRight']",
                                                                            "^"
                                                                        ]
                                                                    },
                                                                    {
                                                                        "equals": [
                                                                            "@outputs('Get_Spaces')['spaceLeft']",
                                                                            "^"
                                                                        ]
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "or": [
                                                                    {
                                                                        "equals": [
                                                                            "@outputs('Get_Spaces')['spaceCurrent']",
                                                                            "."
                                                                        ]
                                                                    },
                                                                    {
                                                                        "equals": [
                                                                            "@outputs('Get_Spaces')['spaceCurrent']",
                                                                            "|"
                                                                        ]
                                                                    }
                                                                ]
                                                            }
                                                        ]
                                                    }
                                                ]
                                            },
                                            "actions": {
                                                "Append_to_TempRow_|": {
                                                    "type": "AppendToStringVariable",
                                                    "inputs": {
                                                        "name": "TempRow",
                                                        "value": "|"
                                                    }
                                                }
                                            },
                                            "else": {
                                                "actions": {
                                                    "Append_to_string_dot": {
                                                        "type": "AppendToStringVariable",
                                                        "inputs": {
                                                            "name": "TempRow",
                                                            "value": "."
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "runAfter": {
                                    "Get_Spaces": [
                                        "SUCCEEDED"
                                    ]
                                }
                            },
                            "Increment_Counter_Next_Space": {
                                "type": "IncrementVariable",
                                "inputs": {
                                    "name": "Counter",
                                    "value": 1
                                },
                                "runAfter": {
                                    "Check_if_Splitter": [
                                        "SUCCEEDED"
                                    ]
                                }
                            }
                        },
                        "runAfter": {
                            "Get_Row": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Append_to_Input_Next_Row": {
                        "type": "AppendToArrayVariable",
                        "inputs": {
                            "name": "Input",
                            "value": "@variables('TempRow')"
                        },
                        "runAfter": {
                            "For_each_Space": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Reset_TempRow": {
                        "type": "SetVariable",
                        "inputs": {
                            "name": "TempRow",
                            "value": "@string('')"
                        }
                    },
                    "Reset_Counter": {
                        "type": "SetVariable",
                        "inputs": {
                            "name": "Counter",
                            "value": 0
                        },
                        "runAfter": {
                            "Reset_TempRow": [
                                "SUCCEEDED"
                            ]
                        }
                    }
                },
                "runAfter": {
                    "Append_to_Input": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Amount": {
                "type": "Compose",
                "inputs": "@variables('Amount')",
                "runAfter": {
                    "Result": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "outputs": {},
        "triggers": {
            "Manual": {
                "type": "Request",
                "kind": "Http"
            }
        }
    },
    "kind": "Stateful"
}