day2/part1/Day 2 Part 1.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "actions": {
            "Initialize_variables": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "First",
                            "type": "integer",
                            "value": "@int(first(split(base64ToString(triggerBody()?['ContentData']), '-')))"
                        },
                        {
                            "name": "Last",
                            "type": "integer",
                            "value": "@int(last(split(base64ToString(triggerBody()?['ContentData']), '-')))"
                        }
                    ]
                },
                "runAfter": {}
            },
            "Create_Range": {
                "type": "Compose",
                "inputs": "@range(variables('First'), add(sub(variables('Last'), variables('First')), 1))",
                "runAfter": {
                    "Initialize_variables": [
                        "SUCCEEDED"
                    ]
                }
            },
            "For_each_ID": {
                "type": "Foreach",
                "foreach": "@outputs('Create_Range')",
                "actions": {
                    "Is_Even_Length": {
                        "type": "If",
                        "expression": {
                            "and": [
                                {
                                    "equals": [
                                        "@mod(outputs('Length_of_ID'), 2)",
                                        0
                                    ]
                                }
                            ]
                        },
                        "actions": {
                            "Compose_Even_ID": {
                                "type": "Compose",
                                "inputs": {
                                    "left": "@{substring(outputs('ID_as_String'), 0, div(outputs('Length_of_ID'), 2))}",
                                    "right": "@{substring(outputs('ID_as_String'), div(outputs('Length_of_ID'), 2))}"
                                }
                            },
                            "Is_Even_Palindrome": {
                                "type": "If",
                                "expression": {
                                    "and": [
                                        {
                                            "equals": [
                                                "@outputs('Compose_Even_ID')['left']",
                                                "@outputs('Compose_Even_ID')['right']"
                                            ]
                                        }
                                    ]
                                },
                                "actions": {
                                    "Insert_Entity_(V2)": {
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "host": {
                                                "connection": {
                                                    "referenceName": "azuretables-1"
                                                }
                                            },
                                            "method": "post",
                                            "body": {
                                                "PartitionKey": "day2",
                                                "RowKey": "@{guid()}",
                                                "Value": "@items('For_each_ID')"
                                            },
                                            "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/tables/@{encodeURIComponent('day2part1output')}/entities"
                                        }
                                    }
                                },
                                "else": {
                                    "actions": {}
                                },
                                "runAfter": {
                                    "Compose_Even_ID": [
                                        "SUCCEEDED"
                                    ]
                                }
                            }
                        },
                        "else": {
                            "actions": {}
                        },
                        "runAfter": {
                            "Length_of_ID": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Length_of_ID": {
                        "type": "Compose",
                        "inputs": "@int(length(outputs('ID_as_String')))",
                        "runAfter": {
                            "ID_as_String": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "ID_as_String": {
                        "type": "Compose",
                        "inputs": "@string(items('For_each_ID'))"
                    }
                },
                "runAfter": {
                    "Create_Range": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "outputs": {},
        "triggers": {
            "When_a_message_is_received_in_a_topic_subscription_(auto-complete)": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "servicebus-1"
                        }
                    },
                    "method": "get",
                    "path": "/@{encodeURIComponent(encodeURIComponent('day2part1'))}/subscriptions/@{encodeURIComponent('day2part1')}/messages/head",
                    "queries": {
                        "subscriptionType": "Main"
                    }
                },
                "recurrence": {
                    "interval": 10,
                    "frequency": "Second"
                }
            }
        }
    },
    "kind": "Stateful"
}